%div.gradeUserName= grade.user.name
= gravatar_for grade.user
= form.input :score
= form.input :feedback, :as => :text
= form.input :type, :as => :hidden, :value => "BloggingGrade"
%div#badgeSelection= form.input :badges, :as => :check_boxes, :collection => @badges
