%div.gradeUserName= grade.user.name
= gravatar_for grade.user
= form.input :substantial
= form.input :feedback, :as => :text
%div#badgeSelection= form.input :badges, :as => :check_boxes, :collection => @badges
