%h3= @assignment.title
%br
= semantic_form_for @grade.becomes(Grade) do |f|
  = f.inputs do
    .text= f.input :user, :collection => User.students, :include_blank => false
    - if @assignment
      = f.input :assignment_id, :as => :hidden
    - else
      .text= f.input :assignment
    = render "#{@grade.class.name.underscore}_form", :form => f
    = f.buttons