= @assignment
= simple_form_for(@grade, :html => {:class => 'form-horizontal' }) do |f|
  = f.association :user, :collection => User.students, :include_blank => false
  - if @assignment
    = f.input :assignment_id, :as => :hidden
  - else 
    = f.association :assignment
    = f.input :score
    = f.input :feedback, :as => :text, :input_html => {:id => 'some-textarea', :class => 'span7' }
    #coryhelp! Need to post both the user id and the grade id to the earned badges table, or else find a way to get the association to work either with a grade id or user id (at the moment it requires user, it used to require grade - either is ideal)
    = f.association :badges, :as => :check_boxes, :class => "btn", :input_html => {"data-toggle" => "button" }
    = f.input :status, :as => :select, :collection => [["New"], ["Graded"],["Released"]]

  = f.button :submit, :class => 'btn btn-primary'
  = link_to 'Cancel', grades_path, :class => 'btn btn-primary'