= semantic_form_for @grade do |f|
  = f.inputs do
    = f.input :user, :as => :select, :collection => @users
    = f.input :assignment
    = f.input :score
    = f.input :feedback, :as => :text
    = f.input :badges, :as => :check_boxes, :collection => @badges
    = f.buttons
