= semantic_form_for @grade do |f|
  = f.inputs do
    = f.input :score
    = f.input :user, :as => :select, :collection => @users
    = f.input :assignment
    = f.input :feedback
    = f.input :badge, :as => :check_boxes
    = f.buttons
