%h3= @grade.assignment.title

= semantic_form_for @grade.becomes(Grade) do |f|
  = f.inputs do
    .text= f.input :user, :as => ( :hidden if @grade.user ), :collection => User.students, :include_blank => false
    .text= f.input :assignment, :as => ( :hidden if @grade.assignment ), :include_blank => false
    .text= f.input :score
    = f.input :feedback, :as => :text
    .text= f.input :badges, :as => :check_boxes, :collection => @badges
    = f.buttons