= semantic_form_for @grade.becomes(Grade) do |f|
  = f.inputs do
    .text= f.input :user, :collection => User.students, :include_blank => false
    - if @assignment
      = f.input :assignment_id, :as => :hidden
    - else
      .text= f.input :assignment
    .score= f.input :score
    .text= f.input :feedback, :as => :text
    .text= f.input :status, :as => :select, :collection => [["New", "new"], ["Graded", "graded"], ["Released", "released"]]
    .text= f.input :substantial
    .text= f.input :type, :as => :select, :collection => [["LFPGGrade", "LFPGGrade"], ["AttendanceGrade","AttendanceGrade"],["ReadingReactionGrade","ReadingReactionGrade"], ["BloggingGrade","BloggingGrade"], ["BossBattleGrade","BossBattleGrade"]]
    .text= f.input :badges, :as => :check_boxes, :collection => @badges
    = f.buttons