= semantic_form_for @grade do |f|
  = f.inputs do
    = f.input :team, :as => :select, :collection => @teams
    = f.input :assignment
    = f.input :score
    = f.input :feedback, :as => :text
    = f.input :badge, :as => :check_boxes, :collection => @badges
    = f.buttons