%table.table.table-bordered
  %tr
    %th User
    %th Score
    %th Current Status
  - for grade in @grades 
    %tr
      %td= grade.gradeable.name
      %td= grade.raw_score
      %td= grade.status
      
= simple_form_for :grade, :url => update_status_assignment_grades_path, :html => { :method => :put, :class => "form-horizontal" } do |f|
  - for grade in @grades
    = hidden_field_tag "grade_ids[]", grade.id
  = f.input :status, :as => :select, :collection => [["New"], ["Graded"],["Released"]]
  .form-actions
    = f.button :submit, "Update Statuses"