%table.table#sortableTable.tablesorter.table-bordered
  %thead
    %tr
      %th #{current_course.user_term}
      - for assignment in @assignments
        %th= assignment.name
      - if current_course.valuable_badges?
        %th Badge Score
      %th Total Score
      %th Final Grade
      %th #{current_course.user_term}
  %tbody
    - @students.each do |student|
      %tr 
        %td= link_to student.name, user_path(student)
        - @assignments.each do |assignment|
          - student.grade_for_assignment(assignment).tap do |grade|
            - if grade
              %td= link_to number_with_delimiter(grade.score(student)), assignment_grade_path(assignment, grade)
            - else
              %td
        - if current_course.valuable_badges?
          %td= student.earned_badges_value(current_course)
        %td= number_with_delimiter(student.earned_grades(current_course))
        %td= current_course.grade_level(student)
        %td= link_to student.name, user_path(student)