%table.table.display.table-bordered
  %thead
    %tr
      %th= current_course.user_ref
      %th Team
      %th Assignment
      %th Score
      %th Feedback
      %th Grade Type
      %th Badges Earned
      %th
      %th
      %th
  %tbody
    - for grade in @grades
      %tr
        %td= link_to grade.gradeable.name, "/#{grade.gradeable_type.downcase}s/#{grade.gradeable_id}"
        %td= grade.gradeable.team.try(:name)
        %td= grade.assignment.name
        %td= grade.raw_score
        %td= raw grade.feedback
        %td= grade.type
        %td
          - grade.earned_badges.each do |badge|
            %img{:src => badge.icon, :alt => badge.name, :width => "25", :height => "25"}
        %td= link_to 'View', assignment_grade_path(@assignment, grade), :class => 'btn btn-mini'
        %td= link_to 'Edit', edit_assignment_grade_path(@assignment, grade), :class => 'btn btn-mini'
        %td= link_to 'Delete', assignment_grade_path(@assignment, grade), :class => 'btn btn-mini', :data => { :confirm => 'Are you sure?' }, :method => :delete

%br

%div.span12
  = link_to 'New Grade', new_assignment_grade_path(grade), {:class => 'btn btn-primary'}
