%table#grades.display.table-bordered
  %thead
    %tr
      %th Username
      %th Team
      %th Assignment
      %th Score
      %th Feedback
      %th Grade Type
      %th Badges Earned
      %th
      %th
      %th
  %tbody
    - for grade in @grades
      %tr
        %td= grade.user.name
        %td= grade.user.team_id
        %td= grade.assignment.title
        %td= grade.score
        %td= raw grade.feedback
        %td= grade.type
        %td
          - grade.earned_badges.each do |badge|
            %img{:src => badge.icon, :alt => badge.title, :width => "25", :height => "25"}
        %td= link_to 'View', grade_path(grade)
        %td= link_to 'Edit', edit_grade_path(grade)
        %td= link_to 'Delete', grade_path(grade), :confirm => 'Are you sure?', :method => :delete

%br

%div#footerNav
  = link_to 'New Grade', new_grade_path(grade), {:class => 'btn btn-primary'}
