%table
  %tr
    %th Student
    %th Assignment
    %th Score
    %th Feedback
    %th Badge
    %th
    %th
    %th

  - @grades.each do |grade|
    %tr
      %td= grade.user.username
      %td= grade.assignment.title
      %td= grade.score
      %td= grade.feedback
      %td= link_to 'View', grade
      %td= link_to 'Edit', edit_grade_path(grade)
      %td= link_to 'Delete', grade, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Grade', new_grade_path
