%table#grades.display.table-bordered
  %thead
    %tr
      %th current_course.user_ref
      %th Team
      %th Assignment
      %th Score
      %th Feedback
      %th Grade Type
      %th Badges Earned
      %th
      %th
      %th
  %tbody
    - for grade in @grades
      %tr
        %td= grade.gradeable_id.name
        %td= grade.user.team_id
        %td= grade.assignment.name
        %td= raw grade.feedback
        %td= grade.type
        %td
          - grade.earned_badges.each do |badge|
            %img{:src => badge.icon, :alt => badge.name, :width => "25", :height => "25"}
        %td= link_to 'View', assignment_grade_path(@assignment, grade)
        %td= link_to 'Edit', edit_assignment_grade_path(@assignment, grade)
        %td= link_to 'Delete', assignment_grade_path(@assignment, grade), :confirm => 'Are you sure?', :method => :delete

%br

%div#footerNav
  = link_to 'New Grade', new_assignment_grade_path(grade), {:class => 'btn btn-primary'}
