%h1= @assignment.title

.filters
  = form_tag mass_update_grades_path(:assignment_id => @assignment.id), :method => :get do
    = select_tag :team_id, options_for_select(Team.all.map { |t| [t.name, t.id] }, @team.try(:id)), :prompt => 'Select a team'
    = submit_tag 'Filter'

%ul.grades
  = semantic_form_for @assignment.becomes(Assignment), :url => mass_update_grades_path(:assignment_id => @assignment.id) do |f|
    = f.semantic_fields_for :grades, @grades do |grade_form|
      = grade_form.inputs do
        = render "#{@assignment.class.name.underscore}_form", :form => grade_form, :grade => grade_form.object
    = f.buttons do
      = f.commit_button 'Save'
      
%div#footerNav
  %span.button= link_to 'Cancel', assignments_path