.filters
  = form_tag mass_edit_assignment_grades_path, :method => :get do
    = hidden_field_tag :assignment_id, @assignment.id
    %br
    %br
    %br
    = select_tag :team_id, options_for_select(current_course.teams.map { |t| [t.name, t.id] }, @team.try(:id)), :prompt => "Select a #{current_course.team_ref}"
    = submit_tag 'Filter', :class => 'btn'

#massGrade  
  %ul.grades
    = simple_form_for @assignment, :html => {:class => 'form-horizontal' }, :url => mass_update_assignment_grades_path(:assignment_id => @assignment.id) do |f|
      - @grades.each_with_index do |grade,i|
        - "assignment[grades_attributes][#{i}][raw_score]".tap do |raw_score_field_name|
          = label_tag do
            - if @assignment.grade_checkboxes?
              - if grade.persisted?
                = hidden_field_tag "assignment[grades_attributes][#{i}][id]", grade.id
              - else
                = hidden_field_tag "assignment[grades_attributes][#{i}][gradeable_id]", grade.gradeable.id
                = hidden_field_tag "assignment[grades_attributes][#{i}][gradeable_type]", grade.gradeable.class.name
              = hidden_field_tag raw_score_field_name, 0
              = check_box_tag raw_score_field_name, grade.points_possible, grade.attempted?
              = grade.gradeable.try(:name)
            - elsif @assignment.grade_select?
              = grade.gradeable.try(:name)
              = select_tag grade.id, options_from_collection_for_select(@score_levels, "value", "name")
            - elsif @assignment.grade_radio?
              = grade.gradeable.try(:name)
              = radio_button grade.id, @score_levels.map { |l| [l.name,l.value] }, grade.attempted?

      = f.button :submit

%div.span12
  = link_to 'Cancel', assignments_path, :class => 'btn btn-primary'
