%p
  %b User:
  = @grade.user.first_name+" "+@grade.user.last_name
%p
  %b Assignment:
  = @grade.assignment.title
%p
  %b Score:
  = @grade.score
%p
  %b Feedback:
  %br
  = @grade.feedback
%p
  %b Badges:
  - @grade.earned_badges.each do |badge|
    %img{:src => badge.icon, :alt => badge.title, :width => "50", :height => "50"}

%div#footerNav
  %span.button= link_to 'Edit', edit_grade_path(@grade)
  %span.button= link_to 'Back', grades_path
