%p
  %b User:
  = link_to @grade.user.name, user_path(@grade.user_id)
%p
  %b Assignment:
  = link_to @grade.assignment.title, assignment_path(@grade.assignment_id)
%p
  %b Score:
  = @grade.score
%p
  %b Feedback:
  %br
  = raw @grade.feedback
%p
  %b Attempted:
  = @grade.attempted
%p
  %b Badges:
  - @grade.earned_badges.each do |badge|
    %img{:src => badge.icon, :alt => badge.title, :width => "50", :height => "50"}
%p
  %b Status:
  = @grade.status

%div#footerNav
  = link_to 'Edit', edit_assignment_grade_path("assignment_id" => @assignment.id, "id" => @grade.id), :class => 'btn btn-primary'
  = link_to 'Back', assignment_path(@grade.assignment_id), :class => 'btn btn-primary'
  = link_to "Grade Another " +@grade.assignment.title, new_assignment_grade_path("assignment_id"=>@grade.assignment.id), :class => 'btn btn-primary'