= simple_form_for([@course_grade_scheme, @course_grade_scheme_element], :html => {:class => 'form-horizontal' }) do |f|
  = f.input :name
  = f.input :letter_grade
  = f.input :low_range
  = f.input :high_range
  
  .form-actions
    %div.btn-toolbar    
      %div.btn-group
        = f.button :submit, :class => "btn-primary"
      %div.btn-group
        = link_to 'Cancel', course_grade_scheme_course_grade_scheme_elements_path, :class => 'btn btn-info'