= simple_form_for(@team, :html => {:class => 'form-horizontal' }) do |f|
  = f.input :name, :label => "#{current_course.team_ref}s Name"
  = f.association :users, :collection => @students, :as => :check_boxes
  = f.input :course_id, :collection => @courses, :as => :hidden, :input_html => { :value => current_course.id }
  
  .form-actions
    = f.button :submit, :class => 'btn', :value => "Create #{current_course.team_ref}"
    = link_to 'Cancel', teams_path, :class => 'btn'