= simple_form_for(@team, :html => {:class => 'form-horizontal' }) do |f|
  = f.input :name, :label => "#{current_course.team_ref}s Name"
  = f.association :users, :collection => @users, :as => :check_boxes
  //#TODO How can I hide this? 
  = f.input :course_id, :default => current_course.id, :collection => @courses
  
  .form-actions
    = f.button :submit, :class => 'btn', :value => "Create #{current_course.team_ref}"
    = link_to 'Cancel', teams_path, :class => 'btn'