%table
  %tr
    %th Ranking
    %th Name
    %th Total Points
    %th
    %th
    %th

  - @teams.each do |team|
    %tr
      %td
      %td= team.name
      %td
      %td= link_to 'View', team
      %td= link_to 'Edit', edit_team_path(team)
      %td= link_to 'Delete', team, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Team', new_team_path
