%table#teams
  %thead
    %tr
      %th ID
      %th Name
      %th Rank
      %th Score
      - if current_user.is_staff?
        %th
        %th
        %th
  %tbody
    - for team in @teams
      %tr
        %td= team.id
        %td= team.name
        %td= team.rank
        %td= team.score
        - if current_user.is_staff?
          %td= link_to 'View', team
          %td= link_to 'Edit', edit_team_path(team)
          %td= link_to 'Delete', team, :confirm => 'Are you sure?', :method => :delete

%br
%div#footerNav
  - if current_user.is_staff?
    %span.button= link_to "Add a New Team", new_team_path
    %span.button= link_to "Add Team Points", new_challenge_grade_url