%table
  %tr
    %th Ranking
    %th= sortable "name"
    %th= sortable "id"
    %th Total Points
    - if current_user.is_staff?
      %th
      %th
      %th

  - @teams.each do |team|
    %tr
      %td
      %td= team.name
      %td= team.id
      %td= team.challenge_scores.map(&:score).inject(&:+) 
      - if current_user.is_staff?
        %td= link_to 'View', team
        %td= link_to 'Edit', edit_team_path(team)
        %td= link_to 'Delete', team, :confirm => 'Are you sure?', :method => :delete

%br

- if current_user.is_staff?
  = link_to 'Add a New Team', new_team_path
