%h1= @team.name
%p
  %b Points: 
  = @team.score
%p
  %b Rank:

%p
  %b Reading Reactions Score: 
  = @team.reading_reaction_score
%p
  %b Challenge Score:
  = @team.challenge_grade


%div#footerNav
  = link_to 'Edit', edit_team_path(@team), :class => "btn btn-inverse"
  = link_to 'Back', teams_path, :class => "btn btn-inverse"
