%div.span2= render 'layouts/admin_subnav'

%div.span8
  %h3= "Edit #{@course_grade_scheme.name} Grading Scheme"
  = render 'form'
  
  %div.span12
    = link_to 'View', course_grade_scheme_path(@course_grade_scheme), :class => 'btn btn-primary'
    = link_to 'Back', course_grade_schemes_path, :class => 'btn btn-primary'
