%table
  %tr
    %th Name
    %th
    %th
    %th

  - @course_grade_schemes.each do |course_grade_scheme|
    %tr
      %td= course_grade_scheme.name
      %td= link_to 'Show', course_grade_scheme
      %td= link_to 'Edit', edit_course_grade_scheme_path(course_grade_scheme)
      %td= link_to 'Destroy', course_grade_scheme, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Course grade scheme', new_course_grade_scheme_path
