%table.table.table-bordered
  %tr
    %th Name
    %th Letter Grade
    %th Low Range
    %th High Range
    %th
    %th
    %th

  - @course_grade_schemes.each do |course_grade_scheme|
    %tr
      %td= course_grade_scheme.name
      %td= course_grade_scheme.letter_grade
      %td= course_grade_scheme.low_range
      %td= course_grade_scheme.high_range
      %td= link_to 'View', course_grade_scheme, {:class => 'btn btn-mini'}
      %td= link_to 'Edit', edit_course_grade_scheme_path(course_grade_scheme), {:class => 'btn btn-mini'}
      %td= link_to 'Delete', course_grade_scheme, {:class => 'btn btn-mini'}, :confirm => 'Are you sure?', :method => :delete

= link_to 'New Grading Element', new_course_grade_scheme_path, :class => 'btn btn-primary'
