= link_to 'Edit', edit_course_grade_scheme_path(@course_grade_scheme), :class => 'btn btn-info btn-small'
= link_to 'Back', course_grade_schemes_path, :class => 'btn btn-info btn-small'
= link_to 'Create a New Course Grade Scheme', new_course_grade_scheme_path, :class => 'btn btn-info btn-small'
  
%h3
Scheme Elements:
(#{link_to 'Add Element', new_course_grade_scheme_course_grade_scheme_element_path(@course_grade_scheme)})

%table.display.table-bordered.table
  %thead
    %tr
      %th Name
      %th Low Range
      %th High Range
      %th Letter Grade
      %th
      %th
      %th
  %tbody
    - @course_grade_scheme.course_grade_scheme_elements.each do |element|
      %tr
        %td #{element.name} 
        %td #{number_with_delimiter(element.low_range, :delimiter => ',') }
        %td #{number_with_delimiter(element.high_range, :delimiter => ',') }
        %td #{element.letter_grade} 
        %td= link_to "View", course_grade_scheme_course_grade_scheme_element_path(@course_grade_scheme.id, element.id)
        %td= link_to "Edit", edit_course_grade_scheme_course_grade_scheme_element_path(@course_grade_scheme.id, element.id)
        %td= link_to "Delete", course_grade_scheme_course_grade_scheme_element_path(@course_grade_scheme.id, element.id), :data => { :confirm => 'Are you sure?' }, :method => :delete
        
