= link_to 'Edit', edit_criterium_path(@criterium), :class => "btn btn-info btn-small"
= link_to 'Back', criteria_path, :class => "btn btn-info btn-small"

%p
  %b Name:
  = @criterium.name
%p
  %b Ruberic:
  = @criterium.ruberic_id
%p
  %b Description:
  = @criterium.description

