= link_to "Add a Score Level", new_score_level_path, :class => "btn btn-info btn-small"

%table.table.table-bordered
  %thead
    %tr
      %th Assignment Type
      %th Name
      %th Value
      %th
      %th
      %th
  %tbody
    - @score_levels.each do |score_level|
      %tr
        %td= score_level.assignment_type.try(:name)
        %td= score_level.name
        %td= score_level.value
        %td= link_to 'View', score_level, :class => 'btn btn-tiny btn-success'
        %td= link_to 'Edit', edit_score_level_path(score_level), :class => 'btn btn-tiny btn-success'
        %td= link_to 'Delete', score_level, :class => 'btn btn-tiny btn-success', :data => { :confirm => 'Are you sure?' }, :method => :delete