= link_to 'Edit', edit_score_level_path(@score_level), :class => "btn btn-info btn-small"
= link_to 'Back', score_levels_path, :class => "btn btn-info btn-small"
= link_to 'Delete', score_level_path, :class => "btn btn-info btn-small", :data => { :confirm => 'Are you sure?' }, :method => :delete

%table.table.table-bordered
  %tr
    %th Level Name
    %th Assignment Type
    %th Value
  %tr
    %td= @score_level.name
    %td= @score_level.assignment_type.try(:name)
    %td= @score_level.value