= simple_form_for(@assignment_type, :html => {:class => 'form-horizontal'} ) do |f|
  = f.input :name, :label => "Assignment Type Name"
  = f.input :point_setting, :label => "How will points be set?", :hint => "Do all assignments have the same point value? Or is this set individually?", :collection => [["Individually"], ["Universally"]]
  = f.input :universal_point_value, :label => "Universal Value"
  = f.input :levels, :label => "Will there be levels to the grading?", :hint => "This includes normal A - F grading schemes.", :as => :boolean
  = f.input :due_date, :label => "Will assignments have due dates?"
  = f.input :resubmission, :label => "Resubmission allowed", :hint => "Can this assignment type be resubmitted for a better grade?", :collection => [["Yes"], ["No"], ["Set per Assignment"]]
  = f.input :max_value, :label => "Max Value", :hint => "Does this assignment type have a maximum value within the course?"
  = f.input :percentage_course, :label => "Course Percentage", :hint => "What percentage of the course total grade does this assignment type make up?"
  = f.input :points_predictor_display, :collection => [["Fixed"], ["Slider"], ["Select List"], ["Set per Assignment"]]
  = f.input :predictor_description, :as => :text, :label => "Predictor Display Text", :hint => "How would you like to describe this assignment type in the predictor? Are there hints that you can give students that will help them understand how to succeed?", :input_html => {:id => 'some-textarea', :class => 'span7' }
  
  .form-actions
    = f.button :submit, :class => 'btn-inverse'
