%div.span2= render 'layouts/admin_subnav'

%div.span8
  %h3= @assignment_type.name 
  %div.well
    %h4 The Basics
    %p
      %b Point setting:
      = @assignment_type.point_setting
    %p
      %b Each Assignment is worth: 
      = @assignment_type.universal_point_value
    %p
      %b Are there due dates?
      = @assignment_type.due_date_present? ? "Yes" : "No"
    %p
      %b Resubmission:
      = @assignment_type.resubmission
    %p
      %b Max value:
      = @assignment_type.max_value
    %p
      %b Percentage course:
      = @assignment_type.percentage_course
    %p
      %b Students set course weight?
      = @assignment_type.user_percentage_set
  
  %div.well
    %h4 Predictor Settings
    %p
      %b Order:
      = @assignment_type.order_placement
    %p
      %b Points predictor display:
      = @assignment_type.points_predictor_display
    %p
      %b Predictor description:
      = raw @assignment_type.predictor_description
    
  %div.well
    %h4 Grading
    %p
      %b Is this assignment mass gradeable?
      = @assignment_type.mass_grade
    %p
      %b In what form? 
      = @assignment_type.mass_grade_type
    %p
      %b Are there levels to the grading? (This includes normal A - F grading schemes.)
      = @assignment_type.levels
    
    %div.well
      %h5 Score Levels
      - @score_levels.each do |sl|
        = "#{sl.name} - #{sl.value}"

  = link_to 'Edit', edit_assignment_type_path(@assignment_type), :class => 'btn'
  = link_to 'Back', assignment_types_path, :class => 'btn'
