= simple_form_for(@faq) do |f|

  .form-inputs
    = f.input :question
    = f.input :answer, :as => :ckeditor, :input_html => { :ckeditor => {:toolbar => "Mini", :id => 'some-textarea', :class => 'span12', :maxlength => 1000} }
    = f.input :order
    = f.input :category
    = f.input :audience

  .form-actions
    = f.button :submit