%h1 Listing faqs

%table
  %tr
    %th Question
    %th Answer
    %th Order
    %th Category
    %th Audience
    %th
    %th
    %th

  - @faqs.each do |faq|
    %tr
      %td= faq.question
      %td= faq.answer
      %td= faq.order
      %td= faq.category
      %td= faq.audience
      %td= link_to 'Show', faq
      %td= link_to 'Edit', edit_faq_path(faq)
      %td= link_to 'Destroy', faq, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Faq', new_faq_path
