%p
  %b Challenge:
  = @challenge_grade.challenge.title
%p
  %b Team:
  = @challenge_grade.team.name
%p
  %b Score:
  = @challenge_grade.score
%p
  %b Feedback:
  = @challenge_grade.feedback

%div#footerNav
  = link_to 'Edit', edit_challenge_grade_path(@challenge_grade), :class => 'btn btn-primary'
  = link_to 'Back', challenge_grades_path, :class => 'btn btn-primary'
