%p
  %b Challenge:
  = @challenge_score.challenge.title
%p
  %b Team:
  = @challenge_score.team.name
%p
  %b Score:
  = @challenge_score.score
%p
  %b Feedback:
  = @challenge_score.feedback

%div#footerNav
  %span.button= link_to 'Edit', edit_challenge_score_path(@challenge_score)
  %span.button= link_to 'Back', challenge_scores_path
