= simple_form_for([@user, @user_assignment_type_weight], :html => {:class => 'form-horizontal' }) do |f|
  = f.input :assignment_type_id, :collection => @assignment_types
  = f.input :value, :hint => "You may set #{current_course.user_weight_amount} #{current_course.multiplier_term}s", :collection => @amounts
  
  .form-actions
    = f.button :submit
    = link_to 'Cancel', user_user_assignment_type_weights_path(@user), :class => 'btn'