- if current_user.is_staff?
  %div.span2= render 'layouts/admin_subnav'

%div.span8
  - if current_user.is_staff?
    %h3= "#{@user.try(:name)}'s #{current_course.multiplier_term} Choices"
  - else
    %h3= "My #{current_course.multiplier_term} Choices"
  %table.table.table-bordered
    %tr
      %th Assignment Type
      %th Value
      %th
      - @assignment_types.each do |at|
        - if at.student_choice? 
          %tr
            %td= at.try(:name)
            %td= "#{@user.weights_for_assignment_type_id(at).try(:value)} #{current_course.multiplier_term}"
            //%td= link_to 'Edit', edit_user_user_assignment_type_weight_path(@user, user_assignment_type_weight), :class => 'btn btn-mini'
        
  = link_to "Back to My Dashboard", dashboard_path, {:class => 'btn btn-primary'}
