- if current_user.is_staff?
  %div.span2= render 'layouts/admin_subnav'

%div.span8
  %h3= "Set Your #{current_course.multiplier_term}s"
  = render 'form'

  %div.span12
    = link_to 'Back', user_user_assignment_type_weights_path(@user), :class => "btn btn-primary"
