= simple_form_for(@assignment, :html => {:class => 'form-horizontal' }) do |f|
  = f.association :assignment_type, :collection => @assignment_types
  = f.input :name
  = f.input :grade_scope, :as => :select, :collection => [["Individual"], ["Group"], ["Team"]]
  = f.input :description, :as => :text, :label => "Description", :input_html => {:id => 'some-textarea', :class => 'span9' }
  = f.input :point_total, :label => "Total Points Possible"
  = f.input :open_time, :as => :string, :input_html => { :class => 'date_picker' }
  = f.input :due_date, :as => :string, :input_html => { :class => 'date_picker' }
  = f.input :visible, :as => :boolean
  = f.input :required, :as => :boolean
  = f.input :grade_scheme_id, :collection => @grade_schemes, :as => :select, :label_method => :name
  - if current_course.has_assignment_submissions?
    = f.input :has_assignment_submissions, :hint=> "Will you be using GradeCraft to accept submissions for this assignment?", :label => "Assignment Submissions"
  = f.input :student_logged, :hint => "Do students self-report their grade for this assignment?"
  = f.input :student_logged_button_text, :hint => "If yes, what would you like the button that does this to say?", :label => "Button Text"
  
  .form-actions
    = f.button :submit
    = link_to 'Cancel', assignments_path, :class => 'btn'
