= simple_form_for(@assignment, :html => {:class => 'form-horizontal' }) do |f|
  = f.input :title
  = f.input :description, :as => :text, :label => "Description", :input_html => {:id => 'some-textarea', :class => 'span7' }
  = f.input :point_total
  = f.input :due_date, :as => :string, :input_html => {:class => "datepicker", "data-behaviour" => 'datepicker', :value => Date.today, :start_year => Date.today }
  = f.input :level
  = f.input :type
  = f.input :present
  = f.input :course_id
  
  .form-actions  
    = f.button :submit, :class => 'btn btn-inverse'
    = link_to 'Cancel', assignments_path, :class => 'btn btn-inverse'
