%h3= current_course.group_ref
%table.table-bordered.table
  %thead
    %tr
      - if @assignment.release_necessary?
        %th
      %th= current_course.group_ref
      %th Score
      %th Level
      %th Badges Earned
      - if @assignment.release_necessary?
        %th Status
      %th
      %th
      %th
      %th
    %tbody
      - @groups.each do |group|
        - @assignment.grade_for_group(group).tap do |grade|
          %tr
            - if @assignment.release_necessary?
              %td
                - if grade
                  = check_box_tag "grade_ids[]", grade.id
            %td= link_to group.name, assignment_group_path(@assignment, group)
            %td #{number_with_delimiter(grade.try(:score), :delimiter => ',') }
            %td= @assignment.grade_level(grade)
            %td 
              - grade.try(:earned_badges) do |badge|
                %img{:src => badge.try(:icon), :alt => badge.try(:name), :width => 40}
            - if @assignment.release_necessary?
              %td= grade.try(:status)
            - @assignment.submission_for_group(group).tap do |submission|
              - if submission
                %td= link_to "See Submission", assignment_assignment_submission_path(@assignment.id, submission, :gradeable_id => group.id, :gradeable_type => "Group"), :class => 'btn btn-mini'
              - else
                %td= link_to "Submit", new_assignment_assignment_submission_path(@assignment, @assignment_submission, :group_id => group), :class => 'btn btn-mini'
            - if grade
              %td= link_to "See Grade", assignment_grade_path(@assignment.id, grade.id), :class => 'btn btn-mini'
              %td= link_to "Edit Grade", edit_assignment_grade_path(@assignment, grade), :class => 'btn btn-mini'
              %td= link_to "Delete Grade", assignment_grade_path(@assignment, grade), :class => 'btn btn-mini', :data => { :confirm => 'Are you sure?' }, :method => :delete
            - else
              %td= link_to 'Grade', new_assignment_grade_path("assignment_id"=>@assignment.id, :gradeable_id => group.id, :gradeable_type => "Group"), :class => 'btn btn-mini'
              %td
              %td
  - if @assignment.release_necessary?
    = submit_tag "Update Grade Statuses", :class => "btn btn-info"