= form_tag assignment_path(@assignment), :method => :get do
  = hidden_field_tag :assignment_id, @assignment.id
  = select_tag :team_id, options_for_select(current_course.teams.map { |t| [t.name, t.id] }, @team.try(:id)), :prompt => "Select a #{current_course.team_ref}"
  = submit_tag 'Filter', :class => 'btn btn-success btn-small'

- if current_user.is_staff? 
  %h4 Grades
  - if @assignment.assignment_type.mass_grade?
    %div.pull-right
      = link_to 'Log Grades', mass_edit_assignment_grades_path(:assignment_id => @assignment.id), :class => "btn btn-mini btn-primary"

  = form_tag edit_status_assignment_grades_path(@assignment) do
    %table.display.table-bordered.table#sortableTable.tablesorter
      %thead
        %tr
          - if @assignment.release_necessary?
            %th
          %th= current_course.user_ref
          %th Score
          - if @assignment.assignment_type.student_choice?
            %th Multiplied Score
          - if @assignment.has_levels?
            %th Level
          %th Badges Earned
          - if @assignment.release_necessary?
            %th Status
          %th.header
          %th.header
          %th.header
          %th.header
      %tbody
        - @students.each do |student|
          - @assignment.grade_for_student(student).tap do |grade|
            %tr
              - if @assignment.release_necessary?
                %td
                  - if grade
                    = check_box_tag "grade_ids[]", grade.id
              %td= link_to student.name, student
              %td= grade.try(:unmultiplied_score)
              - if @assignment.assignment_type.student_choice?
                %td
                  - if grade
                    = grade.score(student)
              - if @assignment.has_levels?
                %td
                  - if grade
                    = @assignment.score_levels(grade)
              %td 
                - student.earned_badges.each do |badge|
                  %img{:src => badge.try(:icon), :alt => badge.try(:name), :width => 40}
              - if @assignment.release_necessary?
                %td= grade.try(:status)
              - @assignment.submission_for_student(student).tap do |submission|
                - if submission && grade
                  %td= link_to "See Submission", assignment_assignment_submission_path(@assignment.id, submission, :grade_id => grade.id, :submittable_id => student.id, :submittable_type => "User", :gradeable_type => "User", :gradeable_id => student.id), :class => 'btn btn-mini'
                - elsif submission
                  %td= link_to "See Submission", assignment_assignment_submission_path(@assignment.id, submission, :submittable_id => student.id, :submittable_type => "User", :gradeable_type => "User", :gradeable_id => student.id), :class => 'btn btn-mini'
                - else
                  %td= link_to "Submit", new_assignment_assignment_submission_path(@assignment, @assignment_submission, :submittable_id => student.id, :submittable_type => "User"), :class => 'btn btn-mini'
              - if grade
                %td= link_to "See Grade", assignment_grade_path(@assignment.id, grade.id, :gradeable_type => "User", :gradeable_id => student.id), :class => 'btn btn-mini'
                %td= link_to "Edit Grade", edit_assignment_grade_path(@assignment, grade, :gradeable_type => "User", :gradeable_id => student.id), :class => 'btn btn-mini'
                %td= link_to "Delete Grade", assignment_grade_path(@assignment, grade, :gradeable_type => "User", :gradeable_id => student.id), :class => 'btn btn-mini', :data => { :confirm => 'Are you sure?' }, :method => :delete
              - else
                %td= link_to 'Grade', new_assignment_grade_path("assignment_id"=>@assignment.id, :gradeable_id => student.id, :gradeable_type => "User"), :class => 'btn btn-mini'
                %td
                %td
    - if @assignment.release_necessary?
      = submit_tag "Update Grade Statuses", :class => "btn btn-info"
