%h3= "#{current_course.team_ref}s"
%table.table-bordered.table
  %thead
    %tr
      %th= current_course.team_ref
      %th Score
      - if @assignment.has_levels?
        %th Level
      %th Badges Earned
      - if @assignment.release_necessary?
        %th Status
      %th
      %th
      %th
      %th
    %tbody
      - @teams.each do |team|
        - @assignment.grade_for_team(team).tap do |grade|
          %tr
            - if @assignment.release_necessary?
              %td
                - if grade
                  = check_box_tag "grade_ids[]", grade.id
            %td= link_to team.name, team
            %td= grade.try(:unmultiplied_score)
            - if @assignment.has_levels?
              //%td= @assignment.grade_level(grade.try(:unmultiplied_score))
            %td 
              - grade.try(:earned_badges) do |badge|
                %img{:src => badge.try(:icon), :alt => badge.try(:name), :width => 40}
            - if @assignment.release_necessary?
              %td= grade.try(:status)
            - @assignment.submission_for_team(team).tap do |submission|
              - if submission && grade
                %td= link_to "See Submission", assignment_assignment_submission_path(@assignment.id, submission, :grade_id => grade.id, :submittable_id => team.id, :submittable_type => "Team", :gradeable_type => "Team", :gradeable_id => team.id), :class => 'btn btn-mini'
              - elsif submission
                %td= link_to "See Submission", assignment_assignment_submission_path(@assignment.id, submission, :submittable_id => team.id, :submittable_type => "Team", :gradeable_type => "Team", :gradeable_id => team.id), :class => 'btn btn-mini'
              - else
                %td= link_to "Submit", new_assignment_assignment_submission_path(@assignment, @assignment_submission, :submittable_id => team.id, :submittable_type => "Team"), :class => 'btn btn-mini'
            - if grade
              %td= link_to "See Grade", assignment_grade_path(@assignment.id, grade.id, :gradeable_type => "Team", :gradeable_id => team), :class => 'btn btn-mini'
              %td= link_to "Edit Grade", edit_assignment_grade_path(@assignment, grade, :gradeable_type => "Team", :gradeable_id => team), :class => 'btn btn-mini'
              %td= link_to "Delete Grade", assignment_grade_path(@assignment, grade, :gradeable_type => "Team", :gradeable_id => team), :class => 'btn btn-mini', :data => { :confirm => 'Are you sure?' }, :method => :delete
            - else
              %td= link_to 'Grade', new_assignment_grade_path("assignment_id"=>@assignment.id, :gradeable_id => team.id, :gradeable_type => "Team"), :class => 'btn btn-mini'
              %td
              %td
  - if @assignment.release_necessary?
    = submit_tag "Update Grade Statuses", :class => "btn btn-info"