%div.span2= render 'layouts/admin_subnav'

%div.span8
  %h3= "Edit #{@assignment.name}"
  = render 'form'

  %div.span12
    = link_to 'View', assignment_path(@assignment), :class => "btn btn-inverse"
    = link_to 'Back', assignments_path, :class => "btn btn-inverse"
