- @assignments.group_by(&:assignment_type).each do |assignment_type, assignments|
  %span.assignmentTypeTitle= "#{assignment_type.try(:name)}"
  %span.assignmentTypeValue= "(#{assignment_type.try(:weight)})" 
  %span.assignmentChoice
    - if assignment_type.try(:student_choice?)
      - if current_user.is_student?
        = link_to "Set Percentage", new_user_assignment_type_weight_path("assignment_type_id" => assignment_type.id)
  %table.table.table-bordered
    %thead
    %tr
      %th Title
      %th Due Date
      %th Grade Type
      %th Total Points
      - if current_user.is_student?
        %th
        %th
      - if current_user.is_staff?
        %th Average
        %th High Score
        %th Low Score
        %th # Submitted
        %th
        - if assignment_type.mass_grade?
          %th
        %th
        %th
        %th
      %tbody
        - assignments.each do |assignment|
          %tr
            %td= assignment.title
            %td
              - if assignment.due_date?
                = assignment.due_date
            %td
              - if assignment.has_groups?
                = link_to 'Create Group', new_group_path("assignment_id"=>assignment.id)
              - else 
                = #{assignment.grade_scope}
              - if assignment.has_teams? && current_user.is_student?
                = link_to 'My Team', team_path("team_id" => current_user.team_id)
            %td= number_with_delimiter(assignment.point_total, :delimiter => ',') 
            - if current_user.is_student? 
              %td
                - if assignment.open?
                  = link_to "Submit", new_assignment_assignment_submission_path(assignment), {:class => 'btn btn-primary btn-mini'}
            
            - if current_user.is_staff?  
              %td= number_with_delimiter(assignment.average, :delimiter => ',') 
              %td= number_with_delimiter(assignment.high_score, :delimiter => ',') 
              %td= number_with_delimiter(assignment.low_score, :delimiter => ',')
              %td= assignment.assignment_grades_attempted
            %td= link_to 'View', assignment, {:class => 'btn btn-primary btn-mini'}
            - if current_user.is_staff?
              %td= link_to 'Grade', new_assignment_grade_path("assignment_id"=>assignment.id), {:class => 'btn btn-primary btn-mini'}
              - if assignment_type.mass_grade?
                %td= link_to 'Log Grades',  mass_edit_assignment_grades_path("assignment_id"=>assignment.id), {:class => 'btn btn-primary btn-mini'}
              %td= link_to 'Edit', edit_assignment_path(assignment), {:class => 'btn btn-primary btn-mini'}
              %td= link_to 'Delete', assignment_path(assignment), {:class => 'btn btn-primary btn-mini'}, :confirm => 'Are you sure?', :method => :delete

          - if current_user.is_student? && assignment.is_visible?
            %tr
              %td= assignment.id
              %td= assignment.title
              %td
                - if assignment.due_date?
                  = assignment.due_date
              %td
                - if assignment.has_groups?
                  = link_to 'Create Group', new_group_path("assignment_id"=>assignment.id)
                - else 
                  = #{assignment.grade_scope}
                - if assignment.has_teams? && current_user.is_student?
                  = link_to 'My Team', team_path("team_id" => current_user.team_id)
                

%div#footerNav
  - if current_user.is_staff?
    = link_to 'New Assignment', new_assignment_path, {:class => 'btn btn-primary'}
