%table.table.table-striped.table-bordered
  %tr
    %th ID
    %th Title
    %th Due Date
    %th Total Points
    - if current_user.is_staff?
      %th Average
      %th High Score
      %th Low Score
      %th # Attempted
      %th % Completed
      %th
      %th
      %th
      %th
  - @assignments.each do |assignment|
    %tr
      %td= assignment.id
      %td= assignment.title
      %td
        - if assignment.due_date?
          = assignment.due_date
      %td= number_with_delimiter(assignment.point_total, :delimiter => ',') 
      - if current_user.is_staff?
        %td= number_with_delimiter(assignment.average, :delimiter => ',') 
        %td= number_with_delimiter(assignment.high_score, :delimiter => ',') 
        %td= number_with_delimiter(assignment.low_score, :delimiter => ',')
        %td= assignment.assignment_grades_attempted
        %td= assignment.assignment_grades
        %td= link_to 'View', assignment
        %td= link_to 'Grade', new_grade_path("assignment_id"=>assignment.id)
        - if assignment.mass_gradeable?
          %td= link_to 'Log Grades', mass_edit_grades_path("assignment_id"=>assignment.id)
        %td= link_to 'Edit', edit_assignment_path(assignment)
        %td= link_to 'Delete', assignment_path(assignment), :confirm => 'Are you sure?', :method => :delete
%div#footerNav
  - if current_user.is_staff?
    = link_to 'New Assignment', new_assignment_path, {:class => 'btn btn-primary'}