%div.pull-right
  = link_to "Assignments Index", assignments_path, :class => "badge"
- @assignments.group_by(&:assignment_type).each do |assignment_type, assignments|
  %span.assignmentTypeTitle= "#{assignment_type.try(:name)}"
  %span.assignmentTypeValue= "(#{assignment_type.try(:weight)})" 
  = link_to "Edit", edit_assignment_type_path(assignment_type), :class => "btn btn-mini"
  %table.table.table-bordered
    %thead
    %tr
      %th Name
      %th Description
      %th Open Date
      %th Due Date
      %th Button Preview
      %th Total Points
      %th Visible
      %th Required
      %th Grade Scope
      %th Grade Scheme
      %th Submissions?
      %th Release Necessary?
      %th
      %th
      %th
    %tbody
      - assignments.each do |assignment|
        %tr
          %td= assignment.name
          %td= raw assignment.description
          %td= assignment.try(:open_date)
          %td= assignment.try(:due_date)
          %td 
            - if assignment.self_gradeable?                
              %button.btn.btn-info.btn-mini #{assignment.student_logged_button_text}
          %td= number_with_delimiter(assignment.point_total, :delimiter => ',') 
          %td= assignment.visible? ? 'Yes' : 'No'
          %td= assignment.required? ? 'Yes' : 'No'
          %td= assignment.grade_scope
          %td= assignment.grade_scheme_id
          %td= assignment.has_assignment_submissions? ? 'Yes' : 'No'
          %td= assignment.release_necessary? ? 'Yes' : 'No'
          %td= link_to 'View', assignment, :class => 'btn btn-mini'
          %td= link_to 'Edit', edit_assignment_path(assignment), :class => 'btn btn-mini'
          %td= link_to 'Delete', assignment_path(assignment), :class => 'btn btn-mini', :data => { :confirm => 'Are you sure?' }, :method => :delete 
          //%td
          //- if assignment.has_groups?
          //= link_to 'Create Group', new_group_path("assignment_id"=>assignment.id)
          //- else 
          //= #{assignment.grade_scope}


%div.span12
  - if current_user.is_staff?
    = link_to 'New Assignment', new_assignment_path, {:class => 'btn btn-primary'}
