%p
  %b Title:
  = @assignment.title
%p
  %b Description:
  = raw @assignment.description
%p
  %b Point Total:
  = number_with_delimiter(@assignment.point_total, :delimiter => ',') 
%p
  %b Due Date:
  = @assignment.due_date
%p
  %b Type:
  = @assignment.type


%h3
  Grades
  - if @assignment.mass_gradeable?
    (#{link_to 'log grades', mass_edit_grades_path(:assignment_id => @assignment.id)})
- @assignment.grades.each do |grade|
  %p
    #{grade.user.name} (#{number_with_delimiter(grade.score, :delimiter => ',') }) 

%div#footerNav
  = link_to 'Add Grade', new_grade_path(:assignment_id => @assignment), :class => 'btn btn-primary'
  = link_to 'Edit', edit_assignment_path(@assignment), :class => 'btn btn-primary'
  = link_to 'Back', assignments_path, :class => 'btn btn-primary'
