%p
  %b Title:
  = @assignment.title
%p
  %b Description:
  = @assignment.description
%p
  %b Point Total:
  = @assignment.point_total
%p
  %b Due Date:
  = @assignment.due_date

%h2
  Grades
  - if @assignment.mass_gradeable?
    (#{link_to 'log grades', mass_edit_grades_path(:assignment_id => @assignment.id)})
- @assignment.grades.each do |grade|
  %p
    #{grade.user.name} (#{grade.score})

%div#footerNav
  %span.button= link_to 'Add Grade', new_grade_path(:assignment_id => @assignment)
  %span.button= link_to 'Edit', edit_assignment_path(@assignment)
  %span.button= link_to 'Back', assignments_path
  %span.button= link_to 'New Assignment', new_assignment_path
