%h3= @assignment.title
%br
%p
  %b Description:
  = raw @assignment.description
%p
  %b Point Total:
  = number_with_delimiter(@assignment.point_total, :delimiter => ',') 
%p
  %b Due Date:
  = @assignment.due_date

%h3
  Grades
  - if @assignment.mass_gradeable?
    (#{link_to 'log grades', mass_edit_grades_path(:assignment_id => @assignment.id)})

= form_tag edit_status_grades_path do
  %table#assignments.display.table-bordered.table
    %thead
      %tr
        %th
        %th User
        %th Points
        %th Level
        %th Badges Earned
        %th Status
        %th
        %th
        %th
    %tbody
      - @assignment.grades.each do |grade|
        %tr
          %td= check_box_tag "grade_ids[]", grade.id
          %td #{grade.user.name} 
          %td #{number_with_delimiter(grade.score, :delimiter => ',') }
          %td
          %td 
            - grade.earned_badges.each do |badge|
              %img{:src => badge.icon, :alt => badge.title, :width => 40}
          %td= grade.status
          %td= link_to "View", grade
          %td= link_to "Edit", edit_grade_path(grade.id)
          %td= link_to "Delete", grade, :confirm => 'Are you sure?', :method => :delete
  = submit_tag "Update Status"

%div#footerNav
  = link_to 'Add Grade', new_grade_path(:assignment_id => @assignment), :class => 'btn btn-primary'
  = link_to 'Edit', edit_assignment_path(@assignment), :class => 'btn btn-primary'
  = link_to 'Back', assignments_path, :class => 'btn btn-primary'
