%p
  %b Description:
  = raw @assignment.description
%p
  %b Point Total:
  = number_with_delimiter(@assignment.point_total, :delimiter => ',') 
%p
  %b Open date:
  = @assignment.open_date
  
  %b Close date:
  = @assignment.due_date


- if @assignment.has_groups?
  = render "groups"
- elsif @assignment.has_teams? 
  = render "teams"
- elsif @assignment.is_individual? 
  = render "individuals"

        
%div.span12
  = link_to 'Edit', edit_assignment_path(@assignment), :class => 'btn btn-primary'
  = link_to 'Back', assignments_path, :class => 'btn btn-primary'
