%h3= @assignment.title
%br
%p
  %b Description:
  = raw @assignment.description
%p
  %b Point Total:
  = number_with_delimiter(@assignment.point_total, :delimiter => ',') 
%p
  %b Due Date:
  = @assignment.due_date

%h3
  Grades
  - if @assignment.is_mass_gradeable?
    (#{link_to 'log grades', mass_edit_assignment_grades_path(:assignment_id => @assignment.id)})

= form_tag edit_status_assignment_grades_path(@assignment) do
  %table#assignments.display.table-bordered.table
    %thead
      %tr
        %th
        %th= current_course.user_term
        %th Score
        %th Level
        %th Badges Earned
        %th Status
        %th Group
        %th
        %th
        %th
    %tbody
      - @assignment.assignment_grades.each do |grade|
        %tr
          %td= check_box_tag "grade_ids[]", grade.id
          %td= link_to grade.gradeable.try(:name)
          // gradeable_path(grade.gradeable_id)
          %td #{number_with_delimiter(grade.raw_score, :delimiter => ',') }
          %td
          %td 
            //- grade.earned_badges.each do |badge|
            //%img{:src => badge.icon, :alt => badge.title, :width => 40}
          %td= grade.status
          %td
          %td= link_to "View", assignment_grade_path(@assignment.id, grade.id)
          %td= link_to "Edit", edit_assignment_grade_path(@assignment.id, grade.id)
          %td= link_to "Delete", assignment_grade_path(@assignment.id, grade.id), :confirm => 'Are you sure?', :method => :delete
  %p
  = submit_tag "Update Grade Statuses", :class => "btn btn-info"

%div#footerNav
  = link_to 'Add Grade', new_assignment_grade_path(:assignment_id => @assignment), :class => 'btn btn-primary'
  = link_to 'Edit', edit_assignment_path(@assignment), :class => 'btn btn-primary'
  = link_to 'Back', assignments_path, :class => 'btn btn-primary'
