%h1= @assignment.title

%p= link_to 'Edit Grades', edit_assignment_grades_path(@assignment)

%table
  %tr
    %th Student
    %th Score
    %th Feedback
    %th Badge
    %th
    %th
    %th
  - @grades.each do |grade|
    %tr
      %td= grade.user.username
      %td= grade.score
      %td= grade.feedback
      %td
        - grade.earned_badges.each do |badge|
          %img{:src => badge.icon, :alt => badge.title}
      %td= link_to 'View', grade
      %td= link_to 'Edit', edit_grade_path(grade)
      %td= link_to 'Delete', grade, :confirm => 'Are you sure?', :method => :delete
