= simple_form_for(@criteria_level) do |f|

  .form-inputs
    = f.input :name
    = f.input :criteria_id
    = f.text_area :description, :class => :ckeditor, :input_html => { :ckeditor => {:toolbar => "Mini", :id => 'some-textarea', :class => 'span12', :maxlength => 1000} }
    = f.input :value

  .form-actions
    %div.btn-toolbar    
      %div.btn-group
        = f.button :submit, :class => "btn-primary"
      %div.btn-group