= simple_form_for(@criteria_level) do |f|

  .form-inputs
    = f.input :name
    = f.input :criteria_id
    = f.input :description
    = f.input :value

  .form-actions
    %div.btn-toolbar    
      %div.btn-group
        = f.button :submit, :class => "btn-primary"
      %div.btn-group