%h1 Listing criteria_levels

%table
  %tr
    %th Name
    %th Criteria
    %th Description
    %th Value
    %th
    %th
    %th

  - @criteria_levels.each do |criteria_level|
    %tr
      %td= criteria_level.name
      %td= criteria_level.criteria_id
      %td= criteria_level.description
      %td= criteria_level.value
      %td= link_to 'Show', criteria_level
      %td= link_to 'Edit', edit_criteria_level_path(criteria_level)
      %td= link_to 'Destroy', criteria_level, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Criteria level', new_criteria_level_path
