= link_to 'Edit', edit_criteria_level_path(@criteria_level), :class => "btn btn-info btn-small"
= link_to 'Back', criteria_levels_path, :class => "btn btn-info btn-small"

%p
  %b Name:
  = @criteria_level.name
%p
  %b Criteria:
  = @criteria_level.criteria_id
%p
  %b Description:
  = @criteria_level.description
%p
  %b Value:
  = @criteria_level.value