= simple_form_for(@themes, :html => {:class => 'form-horizontal' }) do |f|
  = f.input :name
  = f.input :filename
  
  = submit_tag 'Create', :class => 'btn btn-primary'
  or
  = link_to 'Cancel', root_path, :class => 'btn btn-primary'