= simple_form_for(@theme, :html => {:class => 'form-horizontal' }) do |f|
  = f.input :name
  = f.input :filename
  
  .form-actions  
    = f.button :submit, :class => 'btn'
    = link_to 'Cancel', themes_path, :class => 'btn'