= simple_form_for(@theme, :html => {:class => 'form-horizontal', :multipart => true }) do |f|
  = f.input :name
  = f.input :filename, :as => :string
  
  .form-actions
    %div.btn-toolbar
      %div.btn-group
        = f.button :submit, :class => "btn-primary"
      %div.btn-group
        = link_to 'Cancel', themes_path, :class => 'btn'