= simple_form_for [@earned, @earned_badge] do |f|
  = f.input :user_id, :collection => @users
  - if @grade
    = f.select :grade_id, :collection => @grades, :label => "Assignment" 
  = f.input :feedback, :as => :text, :input_html => {:id => 'some-textarea', :class => 'span6' } 
  = hidden_field_tag "earned_badge[badge_ids][]", nil
  - Badge.all.each do |badge|
    = check_box_tag "earned_badge[badge_ids][]", badge.id,  @earned_badge.badge_ids.include?(badge.id)
    %img{:src => asset_path(badge.icon), :alt => badge.title, :width => "50"}    
    = badge.title
  .form-actions
    = f.button :submit, :class => 'btn btn-primary'
    = link_to 'Cancel', earned_badges_path, :class => 'btn btn-primary'