= simple_form_for([@earnable, @earned_badge], :html => {:class => 'form-horizontal' }) do |f|
  %h5= "You are awarding the #{@badge.name} badge"
  = f.input :badge_id, :as => :hidden, :collection => @badges 
  = f.input :earnable_id, :collection => @students, :label => "Player"
  = f.text_area :text_feedback, :class => :ckeditor, :input_html => { :ckeditor => {:toolbar => "Mini", :id => 'some-textarea', :class => 'span12', :maxlength => 1000} }
  = hidden_field_tag "earned_badge[badge_ids][]", nil
  
  .form-actions
    %div.btn-toolbar    
      %div.btn-group
        = f.button :submit, "Award Badge", :class => "btn-primary"
      %div.btn-group
      //= link_to 'Cancel', user_earned_badges_path(@user), :class => 'btn'