#TODO Make it possible to award badges outside of a grade
= simple_form_for @earned_badge do |f|
  = f.association :grade, :collection => @assignments
  = f.association :users, :collection => @users
  = f.input :feedback, :as => :text, :input_html => {:id => 'some-textarea', :class => 'span6' } 
  = hidden_field_tag "earned_badge[badge_ids][]", nil
  - Badge.all.each do |badge|
    = check_box_tag "earned_badge[badge_ids][]", badge.id
    %img{:src => asset_path(badge.icon), :alt => badge.title, :width => "50"}    
    = badge.title
  .form-actions
    = f.button :submit, :class => 'btn btn-primary'
    = link_to 'Cancel', earned_badges_path, :class => 'btn btn-primary'