= simple_form_for([@earnable, @earned_badge], :html => {:class => 'form-horizontal' }) do |f|
  = f.input :badge_id, :as => :select, :collection => @badges 
  = f.input :text_feedback, :as => :text, :input_html => {:id => 'some-textarea', :class => 'span9' } 
  = hidden_field_tag "earned_badge[badge_ids][]", nil
  
  .form-actions
    = f.button :submit, "Award Badge", :class => 'btn'
    //= link_to 'Cancel', user_earned_badges_path(@user), :class => 'btn'