- if current_user.is_staff?
  %div.span2= render 'layouts/admin_subnav'

%div.span8
  %h4= link_to @earned_badge.earnable.name, user_path(@earned_badge.earnable_id)
  %h4= @earned_badge.feedback
  
  %img{:src => @earned_badge.badge.try(:icon), :alt => @earned_badge.badge.try(:name), :width => "25", :height => "25"}
  %p
    %b= @earned_badge.name
    = "(#{@earned_badge.value} points)"
  
  %div.span12
    = link_to 'Edit', edit_user_earned_badge_path(@earned_badge.earnable_id, @earned_badge), :class => "btn btn-inverse"
    = link_to 'Back', user_earned_badges_path(@earned_badge.earnable_id), :class => "btn btn-inverse"
