= semantic_form_for @badge do |f|
  = f.inputs do
    .text= f.input :title
    .text= f.input :description, :as => :text
    .text= f.input :icon
    .text= f.input :visible, :as => :boolean
    = f.buttons
