= semantic_form_for @badge do |f|
  = f.inputs do
    .text= f.input :title
    .text= f.input :description, :as => :ckeditor
    .text= f.input :icon
    .text= f.input :visible, :as => :boolean
    .text= f.input :occurrence, :as => :select, :collection => [["Onetime", "onetime"], ["Multiple", "multiple"]]
    .text= f.input :badge_set_id, :as => :select, :collection => @badge_sets
    = f.actions
