%div.span2= render 'layouts/admin_subnav'

%div.span8
  %h3= "Editing #{@badge.try(:name)}"
  = render 'form'

  %div.span12
    = link_to 'View', badge_path(@badge), :class => 'btn btn-primary'
    = link_to 'Back', badges_path, :class => 'btn btn-primary'
