%table
  %tr
    %th#icon Icon
    %th#title Title
    %th#description Description
    - if current_user.is_staff?
      %th#visible Visible
      %th
      %th
      %th

  - @badges.each do |badge|
    %tr
      %td
        %img{:src => badge.icon, :alt => badge.title}
      %td= badge.title
      %td= badge.description
      - if current_user.is_staff?
        %td= badge.visible
        %td= link_to 'View', badge
        %td= link_to 'Edit', edit_badge_path(badge)
        %td= link_to 'Delete', badge, :confirm => 'Are you sure?', :method => :delete
%br

- if current_user.is_staff?
  = link_to 'New Badge', new_badge_path
