= link_to 'Edit', edit_badge_path(@badge), :class => "btn btn-info btn-small"
= link_to 'Back', badges_path, :class => "btn btn-info btn-small"
= link_to 'New Badge', new_badge_path, :class => "btn btn-info btn-small"

%p
  %img{:src => @badge.icon, :alt => @badge.name}
%p
  %b Value:
  = "#{@badge.value} points"
%p
  %b Description:
  = raw @badge.description
%p
  %b Icon URL:
  = @badge.icon

%h3
Badge Elements:
(#{link_to 'Add Element', new_badge_element_path(@badge)})

%table.display.table-bordered.table
  %thead
    %tr
      %th Name
      %th Description
      %th
      %th
  %tbody
    - @badge.elements.each do |element|
      %tr
        %td= link_to element.name
        %td= element.description
        %td= link_to "Edit", edit_badge_element_path(@badge.id, element.id), :class => 'btn btn-mini'
        %td= link_to "Delete", badge_element_path(@badge.id, element.id), :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-mini', :method => :delete
        
