%p
  %img{:src => @badge.icon, :alt => @badge.title}
%p
  %b Title:
  = @badge.title
%p
  %b Description:
  = @badge.description
%p
  %b Icon:
  = @badge.icon

%div#footerNav
  %span.button= link_to 'Edit', edit_badge_path(@badge)
  %span.button= link_to 'Back', badges_path
  %span.button= link_to 'Create a New Badge', new_badge_path