%p
  %b Title:
  = @badge.title
%p
  %b Description:
  = @badge.description
%p
  %b Icon:
  = @badge.icon

= link_to 'Edit', edit_badge_path(@badge)
\|
= link_to 'Back', badges_path
\|
= link_to 'New Badge', new_badge_path