%div.span2= render 'layouts/admin_subnav'

%div.span8
  %h3= @badge.name
  %p
    %img{:src => @badge.icon, :alt => @badge.name}
  %p
    %b Value:
    = "#{@badge.value} points"
  %p
    %b Description:
    = raw @badge.description
  %p
    %b Icon URL:
    = @badge.icon
  
  %div.span12
    = link_to 'Edit', edit_badge_path(@badge), :class => 'btn btn-primary'
    = link_to 'Back', badges_path, :class => 'btn btn-primary'
    = link_to 'Create a New Badge', new_badge_path, :class => 'btn btn-primary'