= simple_form_for(@group_membership) do |f|

  .form-inputs
    = f.input :group_id
    = f.input :user_id
    = f.input :accepted

  .form-actions
    = f.button :submit
    = link_to 'Cancel', group_membership_path(@group_membership), :class => 'btn'