%table.table.table-bordered
  %tr
    %th Group
    %th User
    %th Accepted
    %th
    %th
    %th

  - @group_memberships.each do |group_membership|
    %tr
      %td= group_membership.group_id
      %td= group_membership.user_id
      %td= group_membership.accepted
      %td= link_to 'View', group_membership, {:class => 'btn btn-mini'}
      %td= link_to 'Edit', edit_group_membership_path(group_membership), {:class => 'btn btn-mini'}
      %td= link_to 'Delete', group_membership, {:class => 'btn btn-mini'}, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Group membership', new_group_membership_path
