%p
  %b Group:
  = @group_membership.group_id
%p
  %b User:
  = @group_membership.user_id
%p
  %b Accepted:
  = @group_membership.accepted

%div.span12
  = link_to 'Edit', edit_group_membership_path(@group_membership), :class => 'btn btn-primary'
  = link_to 'Back', group_memberships_path, :class => 'btn btn-primary'
