%div#predictor-wrapper
  %div#prediction 
    Total projected points: 
    %span#expected-points
    %br 
    Projected Course Grade:
    %span#expected-grade
      %span#aplusgrade A+
      %span#agrade A
      %span#aminusgrade A-
      %span#bplusgrade B+
      %span#bgrade B
      %span#bminusgrade B-
      %span#cplusgrade C+
      %span#cgrade C
      %span#cminusgrade C-
      %span#dplusgrade D+
      %span#doomgrade Doom
    %div#progressbar
  %div.flexslider
    %ul.slides
      %li#slide-1
        %div.slide-panel#attendance
          %h2 Step 1 - Attendance
          %p 
            Current Score: 
            %span#attendanceScore #{current_user.attendance_score || 0}
          Weekly engagement in this course, in the form of attendance and reading reactions, is required. 
          %br
          Which classes do you expect to attend?
          %span.point-value (5,000 pts/class)
          %div#classes-missed
            %div.select-checkboxes <a href="#" class="select-all">select all</a> | <a href="#" class="select-none">select none</a>
            %fieldset.checkbox-group
              %legend January
              - Grade.completion.where(:user_id => current_user.id).each do |grade|
                - if grade.assignment.type == "Attendance" && grade.assignment.title.include?("January")
                  - if grade.attempted? 
                    %span #{grade.title} –
                    %span #{grade.score} 
                    %br
                  - else
                    %span #{grade.title} –
                    %span #{grade.score}
                    %br
              - Assignment.future.each do |assignment|
                - if assignment.type == "Attendance" && assignment.title.include?("January")
                  %input{:type => "checkbox", :name => "class-attendance", :value => "5000", :class => "class-checkbox"} 
                  = assignment.title
                  %br
            %fieldset.checkbox-group
              %legend February
              - Grade.completion.where(:user_id => current_user.id).each do |grade|
                - if grade.assignment.type == "Attendance" && grade.assignment.title.include?("February")
                  - if grade.attempted? 
                    %span #{grade.title} –
                    %span #{grade.score} 
                    %br
                  - else
                    %span #{grade.title} –
                    %span #{grade.score}
                    %br
              - Assignment.future.each do |assignment|
                - if assignment.type == "Attendance" && assignment.title.include?("February")
                  %input{:type => "checkbox", :name => "class-attendance", :value => "5000", :class => "class-checkbox"} 
                  = assignment.title
                  %br
            %fieldset.checkbox-group
              %legend March
              - Grade.completion.where(:user_id => current_user.id).each do |grade|
                - if grade.assignment.type == "Attendance" && grade.assignment.title.include?("March")
                  - if grade.attempted? 
                    %span #{grade.title} –
                    %span #{grade.score} 
                    %br
                  - else
                    %span #{grade.title} –
                    %span #{grade.score}
                    %br
              - Assignment.future.each do |assignment|
                - if assignment.type == "Attendance" && assignment.title.include?("March")
                  %input{:type => "checkbox", :name => "class-attendance", :value => "5000", :class => "class-checkbox"} 
                  = assignment.title
                  %br
            %fieldset.checkbox-group
              %legend April
              - Grade.completion.where(:user_id => current_user.id).each do |grade|
                - if grade.assignment.type == "Attendance" && grade.assignment.title.include?("April")
                  - if grade.attempted? 
                    %span #{grade.title} –
                    %span #{grade.score} 
                    %br
                  - else
                    %span #{grade.title} –
                    %span #{grade.score}
                    %br
              - Assignment.future.each do |assignment|
                - if assignment.type == "Attendance" && assignment.title.include?("April")
                  %input{:type => "checkbox", :name => "class-attendance", :value => "5000", :class => "class-checkbox"} 
                  = assignment.title
                  %br
      %li#slide-2
        %div.slide-panel#reading-rxns
          %h2 Step 2 - Reading Reactions
          %span.current Current Reading Reactions Score:
          %span#rxnScore 
            = current_user.reading_reaction_score
          %br
          %br
          Which reading reactions do you expect to complete?
          %span.point-value (5,000 pts/reaction)
          %div#reactions-missed
            %div.select-checkboxes <a href="#" class="select-all">select all</a> | <a href="#" class="select-none">select none</a>
            %fieldset.checkbox-group
              %legend January
              - Grade.completion.where(:user_id => current_user.id).each do |grade|
                - if grade.assignment.type == "ReadingReaction"
                  - if grade.attempted? 
                    %span #{grade.title} –
                    %span #{grade.score} 
                    %br
                  - else
                    %span #{grade.title} –
                    %span #{grade.score}
                    %br
              - Assignment.future.each do |assignment|
                - if assignment.type == "ReadingReaction"
                  %input{:type => "checkbox", :name => "class-attendance", :value => "5000", :class => "class-checkbox"} 
                  = assignment.title
                  %br
            
            %div#winning-reactions
              %p Feeling confident? Select the number of reading reactions you think you'll win:
              %fieldset
                %strong Semi-Finalist
                %select#reaction-semis
                  %option{ :value => "0"}0
                  %option{ :value => "1"}1
                  %option{ :value => "2"}2
                  %option{ :value => "3"}3
                  %option{ :value => "4"}4
                  %option{ :value => "5"}5
              %fieldset
                %strong Finalist
                %select#reaction-finals
                  %option{ :value => "0"}0
                  %option{ :value => "1"}1
                  %option{ :value => "2"}2
                  %option{ :value => "3"}3
                  %option{ :value => "4"}4
                  %option{ :value => "5"}5
                
      %li#slide-3
        %div.slide-panel#blogging
          %h2 Step 3 - Blogging
          %p 
            Current Blogging Score: 
            %span#bloggingScore #{current_user.blogging_score || 0}
          %p Are you blogging this semester? 
          %fieldset
            How many substantial posts?
            %span.point-value (5,000 pts per post)
            %select#substantial-blogposts
              %option{ :value => "0"}0
              %option{ :value => "1"}1
              %option{ :value => "2"}2
              %option{ :value => "3"}3
              %option{ :value => "4"}4
              %option{ :value => "5"}5
              %option{ :value => "6"}6
              %option{ :value => "7"}7
              %option{ :value => "8"}8
              %option{ :value => "9"}9
              %option{ :value => "10"}10
              %option{ :value => "11"}11
              %option{ :value => "12"}12
          %fieldset
            How many short posts?
            %span.point-value (1,000 pts per post)
            %select#short-blogposts
              %option{ :value => "0"}0
              %option{ :value => "1"}1
              %option{ :value => "2"}2
              %option{ :value => "3"}3
              %option{ :value => "4"}4
              %option{ :value => "5"}5
              %option{ :value => "6"}6
              %option{ :value => "7"}7
              %option{ :value => "8"}8
              %option{ :value => "9"}9
              %option{ :value => "10"}10
              %option{ :value => "11"}11
              %option{ :value => "12"}12
              %option{ :value => "13"}13
              %option{ :value => "14"}14
              %option{ :value => "15"}15

      %li#slide-4
        %div.slide-panel#training-missions
          %h2 Step 4 - Learning From Playing a Game
          %p 
            Current Score: 
            %span#lfpgScore #{current_user.lfpg_score || 0}
          - Grade.completion.where(:user_id => current_user.id).each do |grade|
            - if grade.assignment.type == "LFPG"
              - if grade.attempted? 
                %fieldset
                  %span #{grade.title} –
                  %span #{grade.score} 
              - else
                %fieldset
                  %span #{grade.title} –
                  %span #{grade.score}
          - Assignment.future.each do |assignment|
            - if assignment.type == "LFPG"
              %fieldset
                %span.predictor-assignment-title= assignment.title
                Total points:
                %input.point-value{:id => "total-"+assignment.id.to_s(), :type => "text", :name => assignment.title, :value => 0 }
                %div.slider{:id => assignment.id }

      %li#slide-5
        %div.slide-panel#boss-battles
          %h2 Step 5 - Boss Battles
          %p 
            Current Boss Battle Score: 
            %span#bossBattleScore #{current_user.boss_battle_score || 0}    
          - Grade.completion.where(:user_id => current_user.id).each do |grade|
            - if grade.assignment.type == "BossBattle"
              %fieldset
                %span #{grade.title} –
                %span #{grade.score}
          - Assignment.future.each do |assignment|
            - if assignment.type == "BossBattle"
              %fieldset
                %span.predictor-assignment-title= assignment.title
                Total points:
                %input.point-value{:id => "total-"+assignment.id.to_s(), :type => "text", :name => assignment.title, :value => 0 }
                %div.slider{:id => assignment.id }   

      %li#slide-6
        %div.slide-panel#team-points
          %h2 Step 6 - Team Points
          %fieldset
            %p Part of your score is determined by team points. Where do you anticipate your team finishing? 
            %select#team-point-values
              %option{ :value => "0"}Select Place
              %option{ :value => "40000"}7th
              %option{ :value => "50000"}6th
              %option{ :value => "60000"}5th
              %option{ :value => "70000"}4th
              %option{ :value => "80000"}3rd
              %option{ :value => "90000"}2nd
              %option{ :value => "100000"}1st
              %br
          Current Team Standings:
          %div#team-standings
            <iframe width='500' height='220' frameborder='0' src='https://docs.google.com/spreadsheet/pub?key=0AtknGd3uiORwdGJOVmhYRG9SX0pIWW5Qb29ZcnUyUEE&single=true&gid=3&output=html&widget=true'></iframe>

<!-- team -->
			

	
