= simple_form_for(@badge_set, :html => {:class => 'form-horizontal' }) do |f|
  = f.input :name
  = f.input :notes, :as => :text, :label => "Notes",  :input_html => {:id => 'some-textarea', :class => 'span9' }
  
  .form-actions
    %div.btn-toolbar    
      %div.btn-group
        = f.button :submit, :class => "btn-primary"
      %div.btn-group    
        = link_to 'Cancel', badge_sets_path, :class => 'btn btn-info'

