= simple_form_for(@badge_set, :html => {:class => 'form-horizontal' }) do |f|
  = f.input :name
  = f.text_area :notes, :class => :ckeditor, :input_html => { :ckeditor => {:toolbar => "Mini", :id => 'some-textarea', :class => 'span12', :maxlength => 1000} }, :label => "Notes"
  
  .form-actions
    %div.btn-toolbar    
      %div.btn-group
        = f.button :submit, :class => "btn-primary"
      %div.btn-group    
        = link_to 'Cancel', badge_sets_path, :class => 'btn btn-info'

