= semantic_form_for @badge_set do |f|
  = f.inputs do
    = f.label "Name"
    = f.text_field :name
    = f.label "Notes"
    = f.cktext_area :notes, :as => :ckeditor
  
  = submit_tag 'Create', :class => 'btn btn-primary'
  or
  = link_to 'Cancel', root_path, :class => 'btn btn-primary'

