%h3= @badge_set.name
%br
%p
  %b Description:
  = raw @badge_set.notes

%h3
  Badges
  (#{link_to 'Add New Badge', new_badge_path})

%table.display.table-bordered.table
  %thead
    %tr
      %th Badge
      %th Name
      %th Value
      %th Description
      %th
      %th
      %th
  %tbody
    - @badge_set.badges.each do |badge|
      %tr
        %td 
          %img{:src => badge.icon, :alt => badge.name}
        %td= badge.name
        %td= badge.value
        %td= raw badge.description
        %td= link_to "View", badge_path(badge)
        %td= link_to "Edit", edit_badge_path(badge)
        %td= link_to "Delete", badge_path(badge), :confirm => 'Are you sure?', :method => :delete

%div#footerNav
  = link_to 'Edit', edit_badge_set_path(@badge_set), {:class => 'btn btn-primary'}
  = link_to 'Back', badge_sets_path, {:class => 'btn btn-primary'}
