= simple_form_for(@group, :html => {:class => 'form-horizontal' }) do |f|
  = f.input :name
  = f.association :assignment_id, :collection @assignments, :as => :select
  = f.association :users, :collection => @users, :as => :check_boxes
  
  .form-actions
    = f.button :submit, :class => 'btn btn-primary'
    = link_to 'Cancel', groups_path, :class => 'btn btn-primary'
