= @assignment
= simple_form_for(@group, :html => {:class => 'form-horizontal' }) do |f|
  = f.input :name
  - if @assignment
    = f.association :assignment_id, :as => :hidden
  - else
    = f.association :assignment, :collection => @assignments, :as => :select
  = f.association :users, :collection => @users, :as => :check_boxes
  = f.input :proposal, :as => :text, :input_html => {:id => 'some-textarea', :class => 'span9' }
  - if current_user.is_staff?
    = f.input :approved, :as => :select, :collection => [["Approved"], ["Rejected"]]
  
  .form-actions
    = f.button :submit, :class => 'btn'
    = link_to 'Cancel', groups_path, :class => 'btn'