%table#groups.display.table-bordered
  %thead
    %tr
      %th Name
      %th
      %th
      %th
  %tbody
    - @groups.each do |group|
      %tr
        %td= group.name
        %td= link_to 'View', group
        %td= link_to 'Edit', edit_group_path(group)
        %td= link_to 'Delete', group, :confirm => 'Are you sure?', :method => :delete

%div#footerNav
  = link_to 'New Group', new_group_path, {:class => 'btn btn-primary'}
