= link_to 'New Group', new_assignment_group_path(@assignment), :class => "btn btn-info btn-small"

%table.table.display.table-bordered
  %thead
    %tr
      %th Assignment
      %th Group Name
      %th Status
      %th Grade
      %th 
      %th
      %th
  %tbody
    - @groups.each do |group|
      %tr
        %td= link_to group.assignment.name, group.assignment
        %td= link_to group.name, assignment_group_path(group.assignment, group)
        %td= group.approved
        %td
        //%td= group.grade
        %td= link_to 'See Group', assignment_group_path(group.assignment, group), :class => 'btn btn-tiny btn-success'
        %td= link_to 'Edit', edit_assignment_group_path(group.assignment, group), :class => 'btn btn-tiny btn-success'
        %td= link_to 'Delete', assignment_group_path(group.assignment, group), :class => 'btn btn-tiny btn-success', :data => { :confirm => 'Are you sure?' }, :method => :delete