%table#groups.display.table-bordered
  %thead
    %tr
      %th Assignment
      %th Group Name
      %th Status
      %th Grade
      %th 
      %th
      %th
  %tbody
    - @groups.each do |group|
      %tr
        %td= group.assignment.name
        %td= group.name
        %td= group.approved
        %td
        %td= group.grade.final_grade
        %td= link_to 'View', group, {:class => 'btn btn-mini'}
        %td= link_to 'Edit', edit_group_path(group), {:class => 'btn btn-mini'}
        %td= link_to 'Delete', group, {:class => 'btn btn-mini'}, :confirm => 'Are you sure?', :method => :delete

%div#footerNav
  = link_to 'New Group', new_group_path, {:class => 'btn btn-primary'}
