= link_to 'Edit', edit_assignment_group_path(@assignment, @group), :class => "btn btn-info btn-small"
= link_to 'Back', assignment_groups_path(@assignment), :class => "btn btn-info btn-small"

%p
  %b Group Name:
  = @group.name
  
%p
  %b Assignment:
  = @group.assignment.name 

%p
  %b Proposal:
  = raw @group.text_proposal

%p 
  %b Members:
- @group.users.each do |user|
  %ul
    %li= link_to user.name, user_path(user)