%p
  %b Name:
  = @group.name
  
%p
  %b Assignment:
  = @group.assignment.title 

%p
  %b Proposal:
  = @group.proposal 

%p 
  %b Members:
- @group.users.each do |user|
  %ul
    %li= link_to user.name, user_path(user)

%div#footerNav
  = link_to 'Edit', edit_group_path(@group), :class => 'btn btn-primary'
  = link_to 'Back', groups_path, :class => 'btn btn-primary'
