%table.display.table-bordered.table#sortableTable.tablesorter
  %thead
    %tr
      %th#icon Icon
      %th#title Title
      %th#description Description
      %th Criteria
      %th Value
      - if current_user.is_staff?
        %th
  %tbody
    - @badges.each do |badge|
      - if current_user.is_staff?
        %tr
          %td
            %img{:src => badge.icon, :alt => badge.name}
            %td= link_to badge.name, badge_path(badge)
            %td= raw badge.description
            %td Add Criteria here
            %td= number_with_delimiter(badge.value)
            %td 
              - if badge.visible == "1"
                Yes
              - else
                No
      - else
        - if badge.visible == "1"
          %tr
            %td
              %img{:src => badge.icon, :alt => badge.name}
              %td= badge.name
              %td= raw badge.description
              %td Add Criteria here
              %td= badge.value