= semantic_form_for @user do |f|
  = f.inputs do
    .text= f.input :username
    .text= f.input :email
    .text= f.input :first_name, :label => "First Name"
    .text= f.input :last_name, :label => "Last Name"
    - if !@user.persisted?
      .text= f.input :password, :as => :password
      .text= f.input :password_confirmation, :as => :password
    /= f.input :token, :as => :hidden
    - if current_user.is_staff?
      .text= f.input :role, :as => :select, :collection => [["Student", "student"],["GSI", "gsi"],["Professor", "professor"],["Admin", "admin"]]
      .text= f.input :team_id, :as => :select, :collection => @teams
    = f.actions