= semantic_form_for @user do |f|
	= f.inputs do
		= f.input :email
		= f.input :password, :as => :password
		= f.input :password_confirmation, :as => :password
		/= f.input :token, :as => :hidden 
		= f.buttons       