%h3= @user.name
%div.pull-right
  - if current_user.is_staff?
    %div.btn-group.span12
      - if current_course.has_badges? && current_course.course_badges? or current_course.has_badges? && current_course.multi_badges?
        = link_to "Award a Badge", new_earned_badge_path(:earnable_id => @user.id, :earnable_type => "User"), :class => "btn"
      = link_to "Email", "mailto:#{user.email}", :class => "btn"
      = link_to "Edit", edit_user_path(user.id), :class => "btn"
  - user.team_leader.tap do |team_leader|
    - if team_leader.present?
      = link_to "Email GSI (#{team_leader.public_name})", "mailto:#{team_leader.email}", :class => "btn span8"

%div.span3
  .span12
    - if current_user.is_staff? && user.teams.present?
      %span.badge.badge-info= link_to user.teams.first.name, team_path(user.teams.first.id)
    - if current_user.is_student? && user.teams.present? && current_course.teams_visible?
      %span.badge.badge-info= link_to user.teams.first.name, team_path(user.teams.first.id)
    - elsif current_user.is_student? && user.teams.present? 
      %span.badge.badge-info= user.teams.first.name
  .span12
    = gravatar_for user, :size => 230
  - if current_user.is_student?
    .span12#gradeCurious.btn.btn-primary{:rel => "popover", :title => "Current Final Grade:", "data-content" => current_course.grade_level(user)}
      %span.buttonTitle How am I doing?
  - elsif current_user.is_staff? 
    .span12#gradeCurious.btn.btn-primary{:rel => "popover", :title => "Current Final Grade:", "data-content" => current_course.grade_level(user)} 
      %span.buttonTitle How are they doing?
    - if current_course.has_badges? 
      %button.btn.btn-success.span12{"data-target" => "#badges", "data-toggle" => "collapse"}
        %span.buttonTitle Badges
        %div{:id => "badges", :class => "collapse"}
          - @badges.each do |badge|
            - @user.earned_badges_by_badge(badge).tap do |earned_badge|
              - if earned_badge
                %div.badgeIcon
                  %img{:src => badge.try(:icon), :alt => badge.try(:name), :class => "earned"}
                  .badgeTitle= badge.name
              - else
                %div.badgeIcon
                  %img{:src => badge.try(:icon), :alt => badge.try(:name), :class => "unearned"}
                  .badgeTitle= badge.name
          %div.span12
            Badges you've earned will shine brightly!
  %button.btn.btn-warning.span12{"data-target" => "#toDoList", "data-toggle" => "collapse"} 
    %span.buttonTitle To Do List
    %div{:id => "toDoList", :class => "collapse"}
      - @assignments.group_by(&:assignment_type).each do |assignment_type, assignments|
        - assignments.each do |assignment|
          - if assignment.soon?
            %span4= "#{assignment.assignment_type.try(:name)}:"
            %span4= assignment.try(:name)
            %br
            %span4= "Due: #{assignment.try(:due_date)}"
            - if assignment.has_assignment_submissions?
              - assignment.submission_for_student(user).tap do |submission|
                - if submission
                  = link_to "See Submission", assignment_assignment_submission_path(assignment, submission), :class => 'btn btn-primary'
                - else
                  = link_to "Submit", new_assignment_assignment_submission_path(assignment, @assignment_submission, :user_id => @user), :class => 'btn'
            - if assignment.self_gradeable?
              //= render 'grades/self_log_form'
              #{assignment.student_logged_button_text}

%div.offset3
  %h2#points
  %div#userScoreSection
    %div#userID{ :'data-user-id' => user.id }
    %div#userPointValues
      %span= "Your current score is "  
      %span#userScoreNum #{number_with_delimiter(user.earned_grades, :delimiter => ',') if user.respond_to?(:earned_grades)}
    %a{:href => "#", :id => "totalScoreToggle", :class => "dashboard-toggle"}
      Show me my score out of total course points
    %a{:href => "#", :id => "soFarScoreToggle", :class => "dashboard-toggle"}
      Show me my score out of available points so far

    - if current_user.is_staff?  
      %div#predictorLink
        - if current_user.is_student?
          = link_to 'Predict My Grade', predictor_users_path(:user_id => user.id)
        - if current_user.is_staff?
          = link_to 'Predict Course Grade', predictor_users_path(:user_id => user.id)
    
    %br
    %br    
    %div#userBarTotal.dashboard-toggle
    %div#userBarInProgress.dashboard-toggle
    
    %div#Grades
      - @assignments.group_by(&:assignment_type).each do |assignment_type, assignments|
        %div.assignmentType
          %button.btn.btn-inverse{"data-target" => "#assignment_type-#{assignment_type.id}", "data-toggle" => "collapse"} #{assignment_type.try(:name)}
          %span
            %span.badge.badge-warning= "#{user.assignment_type_score(assignment_type)} / #{assignment_type.weight} "
          - if assignment_type.student_choice?
            %span.badge.badge-important= link_to "Set Kapital", new_user_assignment_type_weight_path("assignment_type_id" => assignment_type.id)
          %div{:id => "assignment_type-#{assignment_type.id}", :class => "collapse"}
            %div.assignmentsGroup
              - assignments.each do |assignment|
                %div.assignment
                  %span.assignmentTitle= assignment.try(:name)
                  - if assignment.is_required?
                    %span.assignmentRequired.label.label-important Required!
                  - if assignment.future?
                    %span.assignmentDate= "Due: #{assignment.try(:due_date)}"
                  - if assignment.has_assignment_submissions?
                    - assignment.submission_for_student(user).tap do |submission|
                      - if submission
                        = link_to "See Submission", assignment_assignment_submission_path(assignment, submission), :class => 'btn btn-primary'
                      - else
                        = link_to "Submit", new_assignment_assignment_submission_path(assignment, @assignment_submission, :user_id => @user), :class => 'btn'
                  - if assignment.self_gradeable? && assignment.open_hours?
                    = link_to "#{assignment.student_logged_button_text}", self_log_assignment_grades_path(assignment, :gradeable_id => user.id, :gradeable_type => "User"), :class => "btn btn-info"
                    
                  %br
                  - assignment.assignment_grades.where(:gradeable_id => user.id).each do |grade|
                    - if grade.attempted? 
                      You earned:
                      %span.assignmentGrade #{ grade.raw_score } / #{grade.point_total} points 
                      - if current_user.is_staff?
                        %span.editLink= link_to "Edit Grade", edit_assignment_grade_path("assignment_id" => assignment.id, "id" => grade.id), :class => 'btn btn-primary btn-mini'
                      - if grade.has_feedback?
                        %button.btn.btn-mini.btn-inverse{"data-target" => "#assignment-#{assignment.id}", "data-toggle" => "collapse"}= "See Feedback"
                        %div{:id => "assignment-#{assignment.id}", :class => "collapse"}
                          %div.feedback= raw grade.feedback
                          - grade.earned_badges.each do |badge|
                            %img{:src => badge.icon, :alt => badge.name, :width => "40"}  
                    - else
                      %span.alert.alert-error.assignmentGrade #{grade.raw_score} / #{grade.point_total}
                    

- if current_user.is_staff?
  %div.span12
    = link_to "See All #{current_course.user_ref}s", users_path, :class => "btn btn-primary"
    = link_to "Create a New #{current_course.user_ref}", new_user_path, :class => "btn btn-primary"
