%h3= user.try(:name)

%div.span2
  %div.span12
    = gravatar_for user, :size => 150
  - if current_user.is_student?
    %div.span12#gradeCurious.btn.btn-primary{:rel => "popover", :title => "Current Final Grade:", "data-content" => current_course.grade_level(user)}
      %span.buttonTitle How am I doing?
  - elsif current_user.is_staff? 
    %div.span12#gradeCurious.btn.btn-primary{:rel => "popover", :title => "Current Final Grade:", "data-content" => current_course.grade_level(user)} 
      %span.buttonTitle How are they doing?
  - if current_course.has_badges? 
    %div.btn.btn-success.span12{"data-target" => "#badges", "data-toggle" => "collapse"}
      %span.buttonTitle Badges
      %div{:id => "badges", :class => "collapse"}
        - @badges.each do |badge|
          - @user.earned_badges_by_badge(badge).tap do |earned_badge|
            - if earned_badge
              %div.badgeIcon
                %img{:src => badge.try(:icon), :alt => badge.try(:name), :class => "earned"}
                .badgeTitle= badge.name
            - else
              %div.badgeIcon
                %img{:src => badge.try(:icon), :alt => badge.try(:name), :class => "unearned"}
                .badgeTitle= badge.name
        %div.span12.clear_fix
          Badges you've earned will shine brightly!
  %div.btn.btn-warning.span12{"data-target" => "#toDoList", "data-toggle" => "collapse"} 
    %span.buttonTitle To Do List
    %div{:id => "toDoList", :class => "collapse"}
      - @assignments.group_by(&:assignment_type).each do |assignment_type, assignments|
        %ul.assignmentTypeToDo
          %h6= "#{assignment_type.try(:name)}:"
        - assignments.each do |assignment|
          - if assignment.soon? && assignment.future? 
            %li= "#{assignment.try(:name)} (Due: #{assignment.try(:due_date).strftime("%b-%d")})"
            - if assignment.has_assignment_submissions?
              - assignment.submission_for_student(user).tap do |submission|
                - if submission
                  = link_to "See Submission", assignment_assignment_submission_path(assignment, submission), :class => 'btn btn-primary'
                - else
                  = link_to "Submit", new_assignment_assignment_submission_path(assignment, @assignment_submission, :user_id => @user), :class => 'btn'
            - if assignment.self_gradeable? && assignment.open?
              = link_to "#{assignment.student_logged_button_text}", self_log_assignment_grades_path(assignment, :gradeable_id => user.id, :gradeable_type => "User"), :class => "btn btn-info btn-mini"

%div.span9
  %div#userScoreSection.span12
    %div.pull-right
      - if current_user.is_staff?
        %div.btn-group.btn-small
          - if current_course.has_badges? && current_course.course_badges? or current_course.has_badges? && current_course.multi_badges?
            = link_to "Award a Badge", new_user_earned_badge_path(user), :class => "btn btn-small"
          = link_to "Email", "mailto:#{user.email}", :class => "btn btn-small"
          = link_to "Edit", edit_user_path(user.id), :class => "btn btn-small"
      - user.team_leader.tap do |team_leader|
        - if team_leader.present?
          = link_to "Email #{current_course.section_leader_term} (#{team_leader.first_name})", "mailto:#{team_leader.email}", :class => "btn btn-small btn-info"
    %div#userID{ :'data-user-id' => user.id }
    %div#userPointValues
      - if current_user.is_student?
        %span= "Your current score is "
      - elsif current_user.is_staff?
        %span= "Current Score: "
      %span#userScoreNum #{number_with_delimiter(user.earned_grades(current_course), :delimiter => ',') if user.respond_to?(:earned_grades)}
    %a{:href => "#", :id => "totalScoreToggle", :class => "dashboard-toggle"}
      Show me my score out of total course points
    %a{:href => "#", :id => "soFarScoreToggle", :class => "dashboard-toggle"}
      Show me my score out of available points so far

    %div#predictorLink.hidden-phone
      - if current_user.is_student? && current_course.predictor_on?
        %div= link_to 'Predict My Grade', predictor_users_path(:user_id => user.id), :class => "btn btn-inverse"
      - if current_user.is_staff?
        %div= link_to 'Predict Course Grade', predictor_users_path(:user_id => user.id), :class => "btn btn-inverse"
    
    %div#userBarInProgress{:class => "dashboard-toggle"}
    %div#userBarTotal{:class => "dashboard-toggle"}
    %div#Grades
      - @assignments.group_by(&:assignment_type).each do |assignment_type, assignments|
        %div.assignmentType
          %button.btn.btn-inverse{"data-target" => "#assignment_type-#{assignment_type.id}", "data-toggle" => "collapse"} #{assignment_type.try(:name)}
          %span
            %span.badge.badge-warning= "#{user.assignment_type_score(assignment_type)} / #{assignment_type.weight} "
          - if assignment_type.student_choice? && assignment_type.multiplier_open?
            - assignment_type.weights_for_student(user).tap do |weight|
              - if weight
                %span.badge.badge-important= "#{weight.value} #{current_course.multiplier_term}"
                %span.badge.badge-important= link_to "Edit", edit_user_user_assignment_type_weight_path(@user, weight)
              - else
                %span.badge.badge-important= link_to "Set #{current_course.multiplier_term}", new_user_user_assignment_type_weight_path(@user, :assignment_type_id => assignment_type.id)
              
                        
            
          %div{:id => "assignment_type-#{assignment_type.id}", :class => "collapse"}
            %div.assignmentsGroup
              - assignments.each do |assignment|
                %div.assignment
                  %span.assignmentTitle= assignment.try(:name)
                  - if assignment.is_required?
                    %span.assignmentRequired.label.label-important Required!
                  - if assignment.future?
                    %span.assignmentDate= "(#{assignment.try(:due_date).strftime("%A, %B %d")})"
                    %span.assignmentDesc= raw assignment.description
                  - if assignment.has_assignment_submissions?
                    - assignment.submission_for_student(user).tap do |submission|
                      - if submission
                        = link_to "See Submission", assignment_assignment_submission_path(assignment, submission, :gradeable_id => @user, :gradeable_type => "User"), :class => 'btn btn-primary btn-mini'
                      - else
                        = link_to "Submit", new_assignment_assignment_submission_path(assignment, @assignment_submission, :user_id => @user), :class => 'btn btn-mini'
                  - if assignment.self_gradeable? && assignment.open?
                    %br
                    %br
                    = link_to "#{assignment.student_logged_button_text}", self_log_assignment_grades_path(assignment, :gradeable_id => user.id, :gradeable_type => "User"), :class => "btn btn-primary btn-small"
                    
                  %br
                  - assignment.assignment_grades.where(:gradeable_id => user.id).each do |grade|
                    - if assignment.release_necessary?
                      - if grade.attempted? && grade.is_released?
                        You earned
                        %span.assignmentGrade #{ grade.score } out of #{grade.point_total} points 
                        - if current_user.is_staff?
                          %span.editLink= link_to "Edit Grade", edit_assignment_grade_path("assignment_id" => assignment.id, "id" => grade.id), :class => 'btn btn-primary btn-mini'
                        - if grade.has_feedback?
                          %button.btn.btn-mini.btn-inverse{"data-target" => "#assignment-#{assignment.id}", "data-toggle" => "collapse"}= "See Feedback"
                          %div{:id => "assignment-#{assignment.id}", :class => "collapse"}
                            %div.feedback= raw grade.feedback
                            - grade.earned_badges.each do |badge|
                              %img{:src => badge.icon, :alt => badge.name, :width => "40"}  
                      - else
                        %span #{grade.point_total} points possible
                        - if current_user.is_staff?
                          %span.editLink= link_to "Edit Grade", edit_assignment_grade_path("assignment_id" => assignment.id, "id" => grade.id), :class => 'btn btn-primary btn-mini'
                    - else
                      - if grade.attempted?
                        You earned
                        %span.assignmentGrade #{ grade.score } out of #{grade.point_total} points 
                        - if current_user.is_staff?
                          %span.editLink= link_to "Edit Grade", edit_assignment_grade_path("assignment_id" => assignment.id, "id" => grade.id), :class => 'btn btn-primary btn-mini'
                        - if grade.has_feedback?
                          %button.btn.btn-mini.btn-inverse{"data-target" => "#assignment-#{assignment.id}", "data-toggle" => "collapse"}= "See Feedback"
                          %div{:id => "assignment-#{assignment.id}", :class => "collapse"}
                            %div.feedback= raw grade.feedback
                            - grade.earned_badges.each do |badge|
                              %img{:src => badge.icon, :alt => badge.name, :width => "40"}  
                      - else
                        %span #{grade.point_total} points possible
                        - if current_user.is_staff?
                          %span.editLink= link_to "Edit Grade", edit_assignment_grade_path("assignment_id" => assignment.id, "id" => grade.id), :class => 'btn btn-primary btn-mini'
      - if current_course.valuable_badges?
        %div.badges
          %button.btn.btn-inverse(data-target="#badges" data-toggle="collapse") Badges
          %span
            %span.badge.badge-warning= "#{user.earned_badges_value(current_course)} points"

                    

- if current_user.is_staff?
  %div.span12
    = link_to "See All #{current_course.user_ref}s", students_users_path, :class => "btn btn-primary"
    = link_to "Create a New #{current_course.user_ref}", new_user_path, :class => "btn btn-primary"
