%table.table.display.table-bordered
  %thead
    %tr
      %th Email
      %th Name
      %th Role
      %th Team
      %th Score
      %th Logins
      - if current_course.has_badges? 
        %th Badges Earned
      %th 
      %th
      %th
      %th
  %tbody
    - @users.each do |user|
      %tr
        %td= user.email
        %td= link_to user.name, user_path(user)
        %td= user.role
        %td= user.team.try(:name)
        %td= user.earned_grades(current_course)
        %td= user.visit_count
        - if current_course.has_badges? 
          %td
            - user.earned_badges.each do |badge|
              %img{:src => asset_path(badge.icon), :alt => badge.name, :width => "25"}
        - if user.is_student?
          %td= link_to 'Dashboard', user, :class => 'btn btn-mini'
          %td= link_to 'Predictor', predictor_users_path(:user_id => user.id), :class => 'btn btn-mini'
        - else
          %td
          %td
        %td= link_to 'Edit', edit_user_path(user), :class => 'btn btn-mini'
        %td= link_to 'Delete', user, :class => 'btn btn-mini', :data => { :confirm => 'Are you sure?' }, :method => :delete

%div#footerNav
  = link_to "Create a New #{current_course.user_ref}", new_user_path, :class => "btn btn-primary"
