= link_to "Create a New #{current_course.user_term}", new_user_path, :class => "btn btn-info btn-small"
%div
  = form_tag students_users_path, :method => :get do
    = select_tag :team_id, options_for_select(current_course.teams.map { |t| [t.name, t.id] }, @team.try(:id)), :prompt => "Select a #{current_course.team_term}"
    = submit_tag 'Filter', :class => 'btn'

= "Download:"
= link_to "CSV", users_path(current_course, format: "csv") |
= link_to "Excel", users_path(current_course, format: "xls")
%table.table#sortableTable.tablesorter.table-bordered
  %thead
    %tr
      %th Rank
      %th Email
      %th Name
      %th #{current_course.team_term}
      - if current_course.team_roles?
        %th Role
      %th Score
      - if current_course.has_badges? 
        %th Badges Earned
      %th Log ins
      %th Page Views
      %th Predictor Views
      %th Last Self-Predicted Grade
      %th Current Final Grade
      %th
      %th 
      %th
      %th        
  %tbody
    - i = 1
    - @sorted_students.each do |student|
      %tr
        %td= i
        %td= student.email
        %td= link_to student.name, user_path(student)
        %td= student.teams.first.try(:name)
        - if current_course.team_roles?
          %td= student.try(:team_role)
        %td= student.earned_grades(current_course) if student.respond_to?(:earned_grades)
        - if current_course.has_badges? 
          %td
            - student.earned_badges.each do |badge|
              %img{:src => badge.try(:icon), :alt => badge.try(:name), :width => "25"}
        %td= student.visit_count
        %td= student.page_views
        %td= student.predictor_views
        %td
        %td
        %td= link_to 'Dashboard', student, {:class => 'btn btn-tiny btn-success'}
        %td= link_to 'Predictor', predictor_users_path(:user_id => student), {:class => 'btn btn-tiny btn-success'}
        %td= link_to 'Edit', edit_user_path(student), {:class => 'btn btn-tiny btn-success'}
        %td= link_to 'Delete', student, :class => 'btn btn-tiny btn-success', :data => { :confirm => 'Are you sure?' }, :method => :delete
      - i += 1
= "Download:"
= link_to "CSV", users_path(current_course, format: "csv") |
= link_to "Excel", users_path(current_course, format: "xls")