%div.pull-left.span4
  = gravatar_for @user, :size => 250
  %br
  Need a Gravatar?
  = link_to "Get One Here!", "https://en.gravatar.com/"

= simple_form_for(@user, :html => {:class => 'form-horizontal pull-left span6' }) do |f|
  = f.input :email
  = f.input :first_name
  = f.input :last_name
  = f.input :display_name
  = f.input :private_display, :label => "Private Browsing", :hint => "For privacy purposes would you like to hide all identifying information (name and email address) while browsing?"
  = f.input :team_role, :hint => "What will you contribute to your team?"
  // Taken out bc of cosign
  //= f.input :password
  //= f.input :password_confirmation
  = submit_tag 'Update Settings', :class => 'btn btn-inverse'
  = link_to 'Cancel', root_path, :class => 'btn btn-inverse'
