%h2 My Account

= gravatar_for @user, :size => 150
%br
<a href="http://en.gravatar.com" target="_blank"/>Need a Gravatar? Get One Here!</a>

%div#accountForm
= semantic_form_for @user do |f|
  = f.inputs do
    .text= f.input :email
    .text= f.input :first_name
    .text= f.input :last_name
    .text= f.input :password, :as => :password
    .text= f.input :password_confirmation, :as => :password
    = f.buttons
    
%div#footerNav