.filters
  = form_tag users_path, :method => :get do
    = select_tag :role, options_for_select(User::Roles.map { |r| [r.capitalize, r] }, @role), :prompt => 'Select a role'
    = select_tag :team_id, options_for_select(Team.all.map { |t| [t.name, t.id] }, @team.try(:id)), :prompt => 'Select a team'
    = submit_tag 'Filter'

%table
  %tr
    %th= sortable "username"
    %th= sortable "name"
    %th= sortable "role"
    %td= sortable "score_ranking"
    %th= sortable "team_id"
    %th= sortable "score"
    %th Badges Earned
    %th
    %th
    %th
  - for user in @users
    %tr
      %td= user.username
      %td= user.name
      %td= user.role
      %td= user.score_ranking
      %td= user.team_id
      %td= user.score if user.respond_to?(:score)
      %td
        - user.earned_badges.each do |badge|
          %img{:src => asset_path(badge.icon), :alt => badge.title, :width => "25"}
      %td
        - if user.is_student?
          = link_to 'Dashboard', user
      %td= link_to 'Edit', edit_user_path(user)
      %td= link_to 'Delete', user, :confirm => 'Are you sure?', :method => :delete

%div#footerNav
  %span.button= link_to 'Create a New Player', new_user_path
