%table
  %tr
    %th Username
    %th Email
    %th Role
    %th
    %th
    %th
    %th

  - @users.each do |user|
    %tr
      %td= user.username
      %td= user.email
      %td= user.role
      %td= link_to 'View', user
      %td= link_to 'Edit Profile', edit_profile_users_path
      %td= link_to 'Edit Role', edit_user_path(user)
      %td= link_to 'Delete', user, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New User', new_user_path
