%table#users.display.table-bordered
  %thead
    %tr
      %th Email
      %th Name
      %th Role
      %th Team
      %th Score
      %th Logins
      - if current_course.has_badges? 
        %th Badges Earned
      %th 
      %th
      %th
      %th
  %tbody
    - @users.each do |user|
      %tr
        %td= user.email
        %td= user.name
        %td= user.role
        %td= user.team.try(:name)
        %td= user.try(:sortable_score)
        %td= user.visit_count
        - if current_course.has_badges? 
          %td
            - user.earned_badges.each do |badge|
              %img{:src => asset_path(badge.icon), :alt => badge.title, :width => "25"}
        - if user.is_student?
          %td= link_to 'Dashboard', user
          %td= link_to 'Predictor', predictor_users_path(:user_id => user.id)
        - else
          %td
          %td
        %td= link_to 'Edit', edit_user_path(user)
        %td= link_to 'Delete', user, :confirm => 'Are you sure?', :method => :delete

%div#footerNav
  = link_to "Create a New #{current_course.user_term}", new_user_path, :class => "btn btn-primary"