%ul.actions
  - if @role
    %li= link_to 'View all users', users_path
    = render "#{@role}_actions"
  - else
    = render 'actions'
%table
  %tr
    %th Username
    %th First Name
    %th Last Name
    %th Email
    %th Role
    %th Team
    %th Total Points
    %th
    %th
    %th
    %th
  - @users.each do |user|
    %tr
      %td= user.username
      %td= user.first_name
      %td= user.last_name
      %td= user.email
      %td= user.role
      %td= user.team_id
      %td= user.grades.map(&:score).inject(&:+)
      - if user.is_student?
        %td= link_to 'Student Dashboard', dashboard_path(user) 
      - else
        %td      
      %td= link_to 'View', user
      %td= link_to 'Edit Role', edit_user_path(user)
      %td= link_to 'Delete', user, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New User', new_user_path
