%div
  = form_tag users_path, :method => :get do
    = select_tag :team_id, options_for_select(current_course.teams.map { |t| [t.name, t.id] }, @team.try(:id)), :prompt => "Select a #{current_course.team_term}"
    = submit_tag 'Filter', :class => 'btn'

= link_to "Create a New #{current_course.user_term}", new_user_path, :class => "btn btn-info btn-small"

%table.table.display.table-bordered#sortableTable.tablesorter
  %thead
    %tr
      %th Name
      %th Email
      %th Role
      %th Team
      %th Score
      %th Logins
      - if current_course.has_badges? 
        %th Badges Earned
      %th.header
      %th.header
  %tbody
    - @users.each do |user|
      %tr
        %td= link_to user.name, user_path(user)
        %td= user.email
        %td= user.role
        %td 
          - user.teams.each do |team|
            = team.name
        %td= user.earned_grades(current_course) if user.is_student?
        %td= user.visit_count
        - if current_course.has_badges? 
          %td
            - user.earned_badges.each do |badge|
              %img{:src => asset_path(badge.icon), :alt => badge.name, :width => "25"}
        - else
          %td
          %td
        %td= link_to 'Edit', edit_user_path(user), :class => 'btn btn-tiny btn-success'
        %td= link_to 'Delete', user.course_memberships.first, :class => 'btn btn-tiny btn-success', :confirm => 'This will remove the student from your course - Are you sure?' , :method => :destroy

%div.span12
  = link_to "Create a New #{current_course.user_term}", new_user_path, :class => "btn btn-primary"
