%ul.actions
  = render 'actions'
%table
  %tr
    %th= sortable "username"
    %th= sortable "first_name"
    %th= sortable "last_name"
    %th= sortable "email"
    %th= sortable "role"
    %th= sortable "team_id"
    %th= sortable "Total Points"
    %th Badges Earned
    %th
    %th
    %th
  - for user in @users
    %tr
      %td= user.username
      %td= user.first_name
      %td= user.last_name
      %td= user.email
      %td= user.role
      %td= user.team_id
      %td= user.grades.map(&:score).inject(&:+)
      %td
        - user.earned_badges.each do |badge|
          %img{:src => asset_path(badge.icon), :alt => badge.title, :width => "25"}
      %td
        - if user.is_student?
          = link_to 'View Profile', user
      %td= link_to 'Edit Role', edit_user_path(user)
      %td= link_to 'Delete', user, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New User', new_user_path
