%div#content
  %h2 Listing users

  %table
    %tr
      %th Username
      %th Email
      %th
      %th
      %th

    - @users.each do |user|
      %tr
        %td= user.username
        %td= user.email
        %td= link_to 'View', user
        %td= link_to 'Edit', edit_user_path(user)
        %td= link_to 'Delete', user, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New User', new_user_path
