User.increment_counter(:predictor_views, current_user.id) if current_user
%div#predictorWrapper
  %div#userID{ :'data-user-id' => @user.id }
    %div#predictionWrapper
      %div#projectedPoints
        %h3
          = "#{@user.name}'s current points:"
          = number_with_delimiter(@user.earned_grades, :delimiter => ',') if @user.respond_to?(:earned_grades)
          = "/" 
          = current_course.total_points 
        %span#expectedPointsValue
        %div#prediction

%div#predictorPage{ 'data-student-name' => @user.name, 'data-course-total' => current_course.total_points }
  %div.flexslider
    %ul.slides
      %li{:id => "slide-required"}
        %div.slide-panel.span12
          %div.assignmentType
            %span.assignmentTypeTitle Required Assignments
          - @assignments.each do |assignment|
            - if assignment.is_required? 
              %div
                %h6.assignmentTitle= assignment.name
      - @assignments.group_by(&:assignment_type).each do |assignment_type, assignments|
        %li{:id => "slide-#{assignment_type.id}", :data => { :'assignment-type-id' => assignment_type.id, :'assignment-type-name' => assignment_type.name } }
          %div.slide-panel.span12
            %div.assignmentType
              %span.assignmentTypeTitle= assignment_type.name
              %span.badge.badge-warning.pull-right= "#{@user.assignment_type_score(assignment_type)} / #{assignment_type.weight} "
            %p.lead= raw assignment_type.predictor_description
            - if assignment_type.student_choice?
              %span.badge.badge-important= link_to "Set Kapital", new_user_assignment_type_weight_path("assignment_type_id" => assignment_type.id)
              %br
              %br
            %div#pastAssignments
            - assignments.each do |assignment|
              - if assignment.past?
                %div.assignment.well
                  %h6.assignmentTitle.pull-left= assignment.try(:name)
                  - if assignment.is_required?
                    %span.assignmentRequired.label.label-important Required!
                  - assignment.assignment_grades.where(:gradeable_id => @user.id).each do |grade|
                    - if grade.attempted? 
                      %span.grade #{ grade.raw_score } / #{grade.point_total}
              - if assignment.future?
                %div.assignment.well
                  %h6.assignmentTitle.pull-left= assignment.name
                  - if assignment_type.fixed?
                    %input{:type => "checkbox", :name => assignment.name, :value => assignment.point_total, :class => "class-checkbox", :'data-assignment-type-id' => assignment.assignment_type_id }
                  - if assignment_type.slider?
                    %input.point-value{:id => "total-"+assignment.id.to_s(), :type => "text", :name => assignment.name, :value => 0 }
                    - if assignment_type.has_levels?
                      %select
                        - assignment.score_levels.each do |sl|
                          %option= sl.name
                    - else 
                      %div.slider{:id => "slider-"+assignment.id.to_s(), :max => assignment.point_total, :value => 0 }
                  - if assignment_type.select?
                    = select_tag assignment.name, options_from_collection_for_select(assignment_type.score_levels,'value','name',assignment_type.universal_point_value), :class => 'point-value', :id => "total-#{assignment.id}"

          
  = link_to "Back to the Dashboard", user_path(@user), :class => 'btn btn-primary'
