%h3#user= @user.first_name+" "+@user.last_name
%div#leftSidebar
  %div#userGravatar
    = gravatar_for @user, :size => 230
  %div#badgesWrapper
    %span.title Badges Earned
    %div#badgesEarned
      - @user.earned_badges.each do |badge|
        %div.badge
          %img{:src => badge.icon, :alt => badge.title}
          .badgeTitle= badge.title
      %div.clear

%div#mainInfo
  %h2#points 
  %div#userScoreSection
    %div#userPointValues
      %span Your current score is 
      %span#userScoreNum #{number_with_delimiter(@user.score, :delimiter => ',') if @user.respond_to?(:score)}
      %br
      <a href="#" id="totalScoreToggle" class="toggle">Show me my score out of total course points</a>
      <a href="#" id="soFarScoreToggle" class="toggle">Show me my score out of available points so far</a>

    %div#predictorLink
      = link_to 'Predict Course Grade', predictor_users_path(:user_id => @user.id)
    %div#userBarTotal.toggle
      #{@user.possible_score}

    %div#userBarInProgress.toggle

  %h3#attendance.assignTitle
    %span Learning From Playing a Game
    %span.assignmentPointsSpan 
      %span#lfpg_score
        #{number_with_delimiter(@user.lfpg_score, :delimiter => ',')} 
      out of #{number_with_delimiter(@user.lfpg_possible, :delimiter => ',')}
  %div.collapsible
    - Grade.completion.where(:user_id => @user.id).each do |grade|
      - if grade.assignment.type == "LFPG" 
        - if grade.attempted? 
          %div.completedAssignment 
            %span.assignmentTitle= grade.title
            %br
            %span.assignmentGrade #{number_with_delimiter(grade.score, :delimiter => ',')} out of #{number_with_delimiter(grade.point_total, :delimiter => ',')} possible points
            %br
            - grade.earned_badges.each do |badge|
              %img{:src => badge.icon, :alt => badge.title, :width => "40"}
            %br
            %span.assignmentFeedback= grade.feedback
            %br
            - if current_user.is_staff?
              %br              
              %span.assignmentStatus Grade Status: #{grade.status}
              %br
              %br
              %span.assignmentEdit= link_to 'Edit', edit_grade_path(grade)
        - else
          %div.incompleteAssignment
            %span.assignmentTitle= grade.title
            %br
            %span.assignmentGrade #{number_with_delimiter(grade.point_total, :delimiter => ',')} possible points
            %br
            %span You have not yet attempted this challenge
            - if current_user.is_staff?
              %br
              %br
              %span.assignmentEdit= link_to 'Edit', edit_grade_path(grade)

  %h3#attendance.assignTitle
    %span Boss Battles
    %span.assignmentPointsSpan 
      %span#boss_battle_score
        #{number_with_delimiter(@user.boss_battle_score, :delimiter => ',')} 
      out of #{number_with_delimiter(@user.boss_battle_possible, :delimiter => ',')}
  %div.collapsible
    - Grade.completion.where(:user_id => @user.id).each do |grade|
      - if grade.assignment.type == "BossBattle" 
        - if grade.attempted? 
          %div.completedAssignment 
            %span.assignmentTitle= grade.title
            %br
            %span.assignmentGrade #{number_with_delimiter(grade.score, :delimiter => ',')} out of #{number_with_delimiter(grade.point_total, :delimiter => ',')} possible points
            %br
            - grade.earned_badges.each do |badge|
              %img{:src => badge.icon, :alt => badge.title, :width => "40"}
            %br
            %span.assignmentFeedback= grade.feedback
            %br
            - if current_user.is_staff?
              %br              
              %span.assignmentStatus Grade Status: #{grade.status}
              %br
              %br
              %span.assignmentEdit= link_to 'Edit', edit_grade_path(grade)
        - else
          %div.incompleteAssignment
            %span.assignmentTitle= grade.title
            %br
            %span.assignmentGrade #{number_with_delimiter(grade.point_total, :delimiter => ',')} possible points
            %br
            %br 
            %span You have not yet attempted this challenge 
            %br        
            - if current_user.is_staff?
              %br
              %br
              %span.assignmentEdit= link_to 'Edit', edit_grade_path(grade)    

  %h3#attendance.assignTitle
    %span Attendance
    %span.assignmentPointsSpan 
      %span#attendance_score
        #{number_with_delimiter(@user.attendance_score, :delimiter => ',')} 
      out of #{number_with_delimiter(@user.attendance_possible, :delimiter => ',')}
  %div.collapsible
    - Grade.completion.where(:user_id => @user.id).each do |grade|
      - if grade.assignment.type == "Attendance"
        - if grade.attempted? 
          %div.completedAssignment 
            %span.assignmentTitle #{grade.title} –
            %span.assignmentGrade #{number_with_delimiter(grade.score, :delimiter => ',')} out of #{number_with_delimiter(grade.point_total, :delimiter => ',')} possible points
            %br
            - grade.earned_badges.each do |badge|
              %img{:src => badge.icon, :alt => badge.title, :width => "40"}
            - if current_user.is_staff?
              %br              
              %span.assignmentStatus Grade Status: #{grade.status}
              %br
              %br
              %span.assignmentEdit= link_to 'Edit', edit_grade_path(grade)  
        - else
          %div.missedAssignment
            %span.assignmentTitle #{grade.title} –
            %span.assignmentGrade #{number_with_delimiter(grade.score, :delimiter => ',')} out of #{number_with_delimiter(grade.point_total, :delimiter => ',')} possible points
            %br
            %span You didn't make it to class. Bummer!
            %br
            - if current_user.is_staff?
              %br              
              %span.assignmentStatus Grade Status: #{grade.status}
              %br
              %br
              %span.assignmentEdit= link_to 'Edit', edit_grade_path(grade)  
  
  %h3#reading.assignTitle 
    %span Reading Reactions
    %span.assignmentPointsSpan
      %span#reading_reaction_score
        #{number_with_delimiter(@user.reading_reaction_score, :delimiter => ',')} 
      out of #{number_with_delimiter(@user.reading_reaction_possible, :delimiter => ',')}
  %div.collapsible
    - Grade.completion.where(:user_id => @user.id).each do |grade| 
      - if grade.assignment.type == "ReadingReaction"
        - if grade.attempted? 
          %div.completedAssignment 
            %span.assignmentTitle= grade.title
            %br
            %span.assignmentGrade #{number_with_delimiter(grade.score, :delimiter => ',')} out of #{number_with_delimiter(grade.point_total, :delimiter => ',')} possible points
            %br
            - grade.earned_badges.each do |badge|
              %img{:src => badge.icon, :alt => badge.title, :width => "40"}
            %br
            - if current_user.is_staff?
              %br              
              %span.assignmentStatus Grade Status: #{grade.status}
              %br
              %br
              %span.assignmentEdit= link_to 'Edit', edit_grade_path(grade)  
        - else
          %div.missedAssignment
            %span.assignmentTitle= grade.title
            %br
            %span.assignmentGrade #{number_with_delimiter(grade.score, :delimiter => ',')} out of #{number_with_delimiter(grade.point_total, :delimiter => ',')} possible points
            %br
            %span Didn't do the readings this week, huh?
            %br
            - if current_user.is_staff?
              %br              
              %span.assignmentStatus Grade Status: #{grade.status}
              %br
              %br
              %span.assignmentEdit= link_to 'Edit', edit_grade_path(grade)  
  
  %h3#blogging.assignTitle
    %span Blogging
    %span.assignmentPointsSpan
      %span#blogging_score
        #{number_with_delimiter(@user.blogging_score, :delimiter => ',')}
  %div.collapsible
    - Grade.completion.where(:user_id => @user.id).each do |grade|
      - if grade.assignment.type == "Blogging"
        - if grade.attempted? 
          %div.completedAssignment 
            %span.assignmentTitle #{ grade.title } – 
            %span.assignmentGrade #{number_with_delimiter(grade.score, :delimiter => ',')}
            %br
            - grade.earned_badges.each do |badge|
              %img{:src => badge.icon, :alt => badge.title, :width => "40"}
            %br
            - if current_user.is_staff?
              %br              
              %span.assignmentStatus Grade Status: #{grade.status}
              %br
              %br
              %span.assignmentEdit= link_to 'Edit', edit_grade_path(grade)  
        - else
          %div.incompleteAssignment
            %span.assignmentTitle= grade.title
            %br
            %span.assignmentGrade #{number_with_delimiter(grade.score, :delimiter => ',')} out of #{number_with_delimiter(grade.point_total, :delimiter => ',')} possible points
            %br
            %span Blogging is a great way to make up some extra points, you should go do it!
            %br
            - if current_user.is_staff?
              %br
              %br
              %span.assignmentEdit= link_to 'Edit', edit_grade_path(grade)  


  %h3#blogging.assignTitle
    %span Team Points
    %span.assignmentPointsSpan 
      %span#team_assignment_score #{@user.team_assignment_score}
      out of #{number_with_delimiter(@user.team_assignment_possible, :delimiter => ',')}
  %div.collapsible
    - Grade.completion.where(:user_id => @user.id).each do |grade|
      - if grade.assignment.type == "TeamAssignment"
        - if grade.attempted? 
          %div.completedAssignment 
            %span.assignmentTitle #{ grade.title } – 
            %span.assignmentGrade #{ grade.score }
            %br
            %span.assignmentFeedback= grade.feedback
            %br
            - grade.earned_badges.each do |badge|
              %img{:src => badge.icon, :alt => badge.title, :width => "40"}
            %br
            - if current_user.is_staff?
              %br              
              %span.assignmentStatus Grade Status: #{grade.status}
              %br
              %br
              %span.assignmentEdit= link_to 'Edit', edit_grade_path(grade)  
        - else
          %div.incompleteAssignment
            %span.assignmentTitle= grade.title
            %br
            %span.assignmentGrade #{grade.score} out of #{grade.point_total} possible points
            %br
            %span Team Points are awarded at the end of the semester - how is your team doing? 
            - if current_user.is_staff?
              %br              
              %span.assignmentStatus Grade Status: #{grade.status}
              %br
              %br
              %span.assignmentEdit= link_to 'Edit', edit_grade_path(grade)  
            
  %h3#bonus.assignTitle
    %span Bonus Points!
    %span.assignmentPointsSpan
  %div.collapsible
    - Grade.where(:user_id => @user.id).each do |grade|
      - if grade.assignment.type == nil
        %div.completedAssignment
          %span.assignmentTitle= grade.title
          %br
          %span.assignmentGrade= number_with_delimiter(grade.score, :delimiter => ',')
          out of
          %span.assignmentScore= number_with_delimiter(grade.point_total, :delimiter => ',')
          %br
          - grade.earned_badges.each do |badge|
            %img{:src => badge.icon, :alt => badge.title, :width => "25"} 
          - if current_user.is_staff?
            %br              
            %span.assignmentStatus Grade Status: #{grade.status}
            %br
            %br
            %span.assignmentEdit= link_to 'Edit', edit_grade_path(grade)  

%div#footerNav
  %span.button= link_to 'Edit', edit_user_path(@user)
  %span.button= link_to 'Back', users_path
  %span.button= link_to 'Create a New Player', new_user_path
