%p#notice= notice

%p
  %b Username:
  = @user.username
%p
  %b Email:
  = @user.email
  
= image_tag @user.avatar.url
= image_tag @user.avatar.url(:medium)
= image_tag @user.avatar.url(:thumb)

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
