%div#content
  
  = image_tag @user.avatar.url
  
  %p
    %b Username:
    = @user.username
  %p
    %b Email:
    = @user.email

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
