%div#leftSidebar
  %div#userGravatar
    = gravatar_for @user, :size => 230
  %div#badgesWrapper
    %span.title Badges Earned
    %div#badgesEarned
      - @user.earned_badges.each do |badge|
        %div.earned-badge
          %img{:src => badge.icon, :alt => badge.title}
          .badgeTitle= badge.title
      %div.clear

%div#mainInfo
  %h2#points 
  %div#userScoreSection
    %div#userPointValues
      %span Your current score is 
      %span#userScoreNum #{number_with_delimiter(@user.score, :delimiter => ',') if @user.respond_to?(:score)}
    %a{:href => "#", :id => "totalScoreToggle", :class => "dashboard-toggle"}
      Show me my score out of total course points
    %a{:href => "#", :id => "soFarScoreToggle", :class => "dashboard-toggle"}
      Show me my score out of available points so far

    %div#predictorLink
      = link_to 'Predict Course Grade', predictor_users_path(:user_id => @user.id)
    %div#userBarTotal.dashboard-toggle
      //#{@user.possible_score}
    %div#userBarInProgress.dashboard-toggle
    
    %div#Grades
      - @user.grades.each do |grade|
        %div.assignmentTitle= grade.assignment.title
        = grade.score
        %br

%div#footerNav
  = link_to 'Edit', edit_user_path(@user), :class => "btn btn-inverse"
  = link_to 'Back', users_path, :class => "btn btn-inverse"
  = link_to 'Create a New Player', new_user_path, :class => "btn btn-primary"
