- if @user.team.present?
  %h2= link_to @user.team.name, team_path(@user.team.id)
%div#leftSidebar
  %div#userGravatar
    = gravatar_for @user, :size => 230
  - if current_course.has_badges? 
    %div#badgesWrapper
      %span.title Badges Earned
      %div#badgesEarned
        - @user.earned_badges.each do |badge|
          %div.earned-badge
            %img{:src => badge.try(:icon), :alt => badge.try(:title)}
            .badgeTitle= badge.title
  %div.clear
     
  %div#helpInfo
    - if current_user.is_staff?
      - if current_course.has_badges? 
        %div= link_to "Award a Badge", new_earned_badge_url, :class => "btn btn-primary"
      %div= link_to "Email #{@user.first_name}", "mailto:#{@user.email}", :class => "btn btn-primary"
    - @user.team_leader.tap do |team_leader|
      - if team_leader.present?
        %div= link_to "Email GSI (#{team_leader.public_name})", "mailto:#{team_leader.email}", :class => "btn btn-primary"

%div#mainInfo
  %h2#points
  %div#userScoreSection
    %div#userPointValues
      %span= "Your current score is "  
      %span#userScoreNum #{number_with_delimiter(@user.sortable_score, :delimiter => ',') if @user.respond_to?(:sortable_score)}
    %a{:href => "#", :id => "totalScoreToggle", :class => "dashboard-toggle"}
      Show me my score out of total course points
    %a{:href => "#", :id => "soFarScoreToggle", :class => "dashboard-toggle"}
      Show me my score out of available points so far

    %div#predictorLink
      = link_to 'Predict Course Grade', predictor_users_path(:user_id => @user.id)
    %div#userBarTotal.dashboard-toggle
      = #{@user.possible_score}
    %div#userBarInProgress.dashboard-toggle
    
    %div#Grades
      - @assignments.group_by(&:assignment_type).each do |assignment_type, assignments|
        %div.assignmentType
          %button.btn.btn-inverse{"data-target" => "#assignment_type-#{assignment_type.id}", "data-toggle" => "collapse"} #{assignment_type.try(:name)}
          %span= @user.assignment_type_score
          = '/'
          %span= assignment_type.possible_score
          %span.badge.badge-warning= assignment_type.weight
          - if assignment_type.student_choice?
            %span.badge.badge-important= link_to "Set Percentage", new_user_assignment_type_weight_path("assignment_type_id" => assignment_type.id)
          %div{:id => "assignment_type-#{assignment_type.id}", :class => "collapse"}
            %div.assignmentsGroup
              - assignments.each do |assignment|
                %div.assignment
                  %span.assignmentTitle= assignment.try(:title)
                  - assignment.assignment_grades.where(:gradeable_id => @user.id).each do |grade|
                    - if grade.attempted? 
                      %span.assignmentGrade #{ grade.raw_score } / #{grade.point_total} 
                      - if current_user.is_staff?
                        %span.editLink= link_to "Edit Grade", edit_assignment_grade_path("assignment_id" => assignment.id, "id" => grade.id)  
                      - if grade.has_feedback?
                        %button.btn.btn-mini.btn-inverse{"data-target" => "#assignment-#{assignment.id}", "data-toggle" => "collapse"}= "See Feedback"
                        %div{:id => "assignment-#{assignment.id}", :class => "collapse"}
                          %div.feedback= raw grade.feedback
                          //- grade.earned_badges.each do |badge|
                          //%img{:src => badge.icon, :alt => badge.title, :width => "40"}  
                    - else
                      %span.alert.alert-error.assignmentGrade #{grade.raw_score} / #{grade.point_total}
    %div.clear

%div#footerNav
  = link_to 'Edit', edit_user_path(@user), :class => "btn btn-inverse"
  = link_to 'Back', users_path, :class => "btn btn-inverse"
  = link_to 'Create a New Player', new_user_path, :class => "btn btn-inverse"
