= gravatar_for @user
%p
  %b Username:
  = @user.username

%p
  %b First Name:
  = @user.first_name
  = @user.last_name
%p
  %b Email:
  = @user.email

- Assignment.all.each do |assignment|
  - if grade = assignment.grades.where(:user_id => @user.id).first
    = assignment.title
    = grade.score
    out of
    = assignment.point_total
    %br
    - grade.earned_badges.each do |badge|
      %img{:src => badge.icon, :alt => badge.title, :width => "25"}
    %br
  - else
    = assignment.title
    = assignment.point_total
    = assignment.due_date
    %br

%div#badgesEarned
  %span.title Badges Earned:
  - @user.earned_badges.each do |badge|
    %img{:src => badge.icon, :alt => badge.title}

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
\|
= link_to 'New User', new_user_path
