%h2= link_to @user.team.name, team_path(@user.team.id)
%div#leftSidebar
  %div#userGravatar
    = gravatar_for @user, :size => 230
  %div#badgesWrapper
    %span.title Badges Earned
    %div#badgesEarned
      - @user.earned_badges.each do |badge|
        %div.earned-badge
          %img{:src => badge.icon, :alt => badge.title}
          .badgeTitle= badge.title
      %div.clear

%div#mainInfo
  %h2#points 
  %div#userScoreSection
    %div#userPointValues
      %span= "Your current score is "  
      %span#userScoreNum #{number_with_delimiter(@user.sortable_score, :delimiter => ',') if @user.respond_to?(:sortable_score)}
    %a{:href => "#", :id => "totalScoreToggle", :class => "dashboard-toggle"}
      Show me my score out of total course points
    %a{:href => "#", :id => "soFarScoreToggle", :class => "dashboard-toggle"}
      Show me my score out of available points so far

    %div#predictorLink
      = link_to 'Predict Course Grade', predictor_users_path(:user_id => @user.id)
    %div#userBarTotal.dashboard-toggle
      = #{@user.possible_score}
    %div#userBarInProgress.dashboard-toggle
    
    %div#Grades
      - @assignments.group_by(&:assignment_type).each do |assignment_type, assignment|
        %div.assignmentType
          %span.assignmentTypeTitle= assignment_type.try(:name)
          %div.assignmentTitle= @assignment.try(:title)
    %div.clear
          

%div#helpInfo
  %span= link_to "Email #{@user.first_name}", "mailto:#{@user.email}", :class => "btn btn-primary"
  - @user.team.team_leader.tap do |team_leader|
    - if team_leader.present?
      %span= link_to team_leader.public_name, user_path(team_leader), :class => "btn btn-primary"
          

%div#footerNav
  = link_to 'Edit', edit_user_path(@user), :class => "btn btn-inverse"
  = link_to 'Back', users_path, :class => "btn btn-inverse"
  = link_to 'Create a New Player', new_user_path, :class => "btn btn-primary"
