%div.span2
  - if current_user.is_staff? 
    = render 'layouts/admin_subnav'

%div.span8
  %h3= "#{current_course.name} Staff"
  %table.table.display.table-bordered#sortableTable.tablesorter
    %thead
      %tr
        %th Username
        %th Name
        %th Role
        %th Team
        //%th Score
        //%th Badges Earned
        %th 
        %th
    %tbody
      - current_course.users.each do |user|
        - if user.is_staff? 
          %tr
            %td= user.username
            %td= link_to user.name, user_path(user)
            %td= user.role
            %td
              - user.teams.each do |team|
                = team.try(:name)
                %br
            //%td= user.team.try(:score)
            //- user.team_badges.each do |badge|
            //%img{:src => asset_path(badge.icon), :alt => badge.name, :width => "25"}
            %td= link_to 'Edit', edit_user_path(user), {:class => 'btn btn-mini'}
            %td= link_to 'Delete', user, {:class => 'btn btn-mini'}, :data => { :confirm => 'Are you sure?' }, :method => :delete

  = link_to 'Create a New Player', new_user_path, :class => "btn btn-primary"
