%table#users.display.table-bordered
  %thead
    %tr
      %th Email
      %th Name
      %th Team
      %th Score
      %th Log ins
      %th Page Views
      %th Predictor Views
      %th Badges Earned
      %th 
      %th
      %th
      %th
  %tbody
    - for student in @students
      %tr
        %td= student.email
        %td= student.name
        %td= student.team.try(:name)
        %td= student.try(:sortable_score)
        %td= student.visit_count
        %td= student.page_views
        %td= student.predictor_views
        %td
          - student.earned_badges.each do |badge|
            %img{:src => asset_path(badge.icon), :alt => badge.title, :width => "25"}
        %td= link_to 'Dashboard', student
        %td= link_to 'Predictor', predictor_users_path(:user_id => student)
        %td= link_to 'Edit', edit_user_path(student)
        %td= link_to 'Delete', student, :confirm => 'Are you sure?', :method => :delete
= "Download:"
= link_to "CSV", users_path(format: "csv") |
= link_to "Excel", users_path(format: "xls")

%div#footerNav
  = link_to 'Create a New Player', new_user_path, :class => "btn btn-primary"