%table.display.table-bordered
  %thead
    %tr
      %th Rank
      %th Email
      %th Name
      %th Team
      %th Score
      %th Log ins
      %th Page Views
      %th Predictor Views
      - if current_course.has_badges? 
        %th Badges Earned
      %th 
      %th
      %th
      %th
  %tbody
    - i = 1
    - @sorted_students.each do |student|
      %tr
        %td= i
        %td= student.email
        %td= student.name
        %td= student.team.try(:name)
        %td= student.try(:sortable_score)
        %td= student.visit_count
        %td= student.page_views
        %td= student.predictor_views
        - if current_course.has_badges? 
          %td
            //#TODO Fix
            //- student.earned_badges.each do |badge|
            //%img{:src => badge.try(:icon), :alt => badge.try(:title), :width => "25"}
        %td= link_to 'Dashboard', student
        %td= link_to 'Predictor', predictor_users_path(:user_id => student)
        %td= link_to 'Edit', edit_user_path(student)
        %td= link_to 'Delete', student, :confirm => 'Are you sure?', :method => :delete
      - i += 1
= "Download:"
= link_to "CSV", users_path(format: "csv") |
= link_to "Excel", users_path(format: "xls")

%div#footerNav
  = link_to "Create a New #{current_course.user_term}", new_user_path, :class => "btn btn-primary"