= simple_form_for([@grade_scheme, @grade_scheme_element], :html => {:class => 'form-horizontal' }) do |f|
  = f.input :name
  = f.input :low_range
  = f.input :high_range
  = f.input :letter_grade
  = f.text_area :description, :class => :ckeditor, :input_html => { :ckeditor => {:toolbar => "Mini", :id => 'some-textarea', :class => 'span12', :maxlength => 1000} }
    
  .form-actions
    %div.btn-toolbar
      %div.btn-group
        = f.button :submit, @button_title, :class => "btn-primary"
      %div.btn-group
        = link_to 'Cancel', grade_schemes_path, :class => 'btn btn-info'