= simple_form_for([@grade_scheme, @grade_scheme_element], :html => {:class => 'form-horizontal' }) do |f|
  = f.association :grade_scheme, :collection => @grade_schemes, :label_method => :name
  = f.input :name
  = f.input :low_range
  = f.input :high_range
  = f.input :letter_grade
  = f.input :description, :input_html => {:id => 'some-textarea', :class => 'span9' }, :as => :text
    
  .form-actions
    %div.btn-toolbar
      %div.btn-group
        = f.button :submit, "Create", :class => "btn-primary"
      %div.btn-group
        = link_to 'Cancel', grade_schemes_path, :class => 'btn btn-info'