%table.table.table-bordered
  %tr
    %th Name
    %th Low range
    %th High range
    %th Letter grade
    %th
    %th
    %th

  - @grade_scheme_elements.each do |grade_scheme_element|
    %tr
      %td= grade_scheme_element.name
      %td= grade_scheme_element.low_range
      %td= grade_scheme_element.high_range
      %td= grade_scheme_element.letter_grade
      %td= link_to 'View', grade_scheme_grade_scheme_element_path(@grade_scheme, grade_scheme_element), {:class => 'btn btn-mini'}
      %td= link_to 'Edit', edit_grade_scheme_grade_scheme_element_path(@grade_scheme, grade_scheme_element), {:class => 'btn btn-mini'}
      %td= link_to 'Delete', grade_scheme_grade_scheme_element_path(@grade_scheme, grade_scheme_element), {:class => 'btn btn-mini'}, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Grade scheme element', new_grade_scheme_grade_scheme_element_path, {:class => 'btn btn-primary'}
