= semantic_form_for @grade_scheme do |f|
  = f.inputs do
      = f.input :assignment_id
      = f.input :ascore
      = f.input :amscore
      = f.input :bpscore
      = f.input :bscore
      = f.input :bmscore
      = f.input :cpscore
      = f.input :cscore
      = f.input :cmscore
      = f.input :dpscore
      = f.input :dscore
      = f.input :dmscore
  
  = f.buttons do
    = f.commit_button
