%table
  %tr
    %th Assignment
    %th 
    %th

  - @grade_schemes.each do |grade_scheme|
    %tr
      %td= grade_scheme.assignment.title
      %th= grade_scheme.grade_name
      %th= grade_scheme.range_bottom
      %th= grade-scheme.range_top
      %td= link_to 'Show', grade_scheme
      %td= link_to 'Edit', edit_grade_scheme_path(grade_scheme)
      %td= link_to 'Destroy', grade_scheme, :confirm => 'Are you sure?', :method => :delete

%br

%div#footerNav
  %span.button= link_to 'New Grade scheme', new_grade_scheme_path
