= link_to 'New Grade Scheme', new_grade_scheme_path, {:class => 'btn btn-info btn-small'}

%table.display.table-bordered.table
  %thead
    %tr
      %th Scheme Name
      %th 
      %th
      %th
  %tbody
    - for grade_scheme in @grade_schemes
      %tr
        %td= grade_scheme.name
        %td= link_to 'View', grade_scheme, :class => 'btn btn-tiny btn-success'
        %td= link_to 'Edit', edit_grade_scheme_path(grade_scheme), :class => 'btn btn-tiny btn-success'
        %td= link_to 'Delete', grade_scheme, :class => 'btn btn-tiny btn-success', :data => { :confirm => 'Are you sure?' }, :method => :delete