%p
  %b Assignment:
  = @grade_scheme.assignment.title
%p
  %b A+
  = @grade_scheme.apscore
%p
  %b A
  = @grade_scheme.ascore
%p
  %b A-
  = @grade_scheme.amscore
%p
  %b B+
  = @grade_scheme.bpscore
%p
  %b B
  = @grade_scheme.bscore
%p
  %b B-
  = @grade_scheme.bmscore
%p
  %b C+
  = @grade_scheme.cpscore

%div#footerNav
  = link_to 'Edit', edit_grade_scheme_path(@grade_scheme), :class => 'btn btn-primary'
  = link_to 'Back', grade_schemes_path, :class => 'btn btn-primary'
