= simple_form_for([@assignment, @grade], :html => {:class => 'form-horizontal' }) do |f|
  %div.control-group
  = f.input :assignment_submission_id, :input_html => {:value => @assignment_submission.id}, :as => :hidden
  - if @assignment.is_individual?
    = f.input :gradeable_id, :collection => @students, :as => :hidden
    = f.input :gradeable_type, :as => :hidden, :input_html => { :value => 'User' }
  - elsif @assignment.has_groups?
    = f.input :gradeable_id, :collection => @groups, :as => :hidden
    = f.input :gradeable_type, :as => :hidden, :input_html => { :value => 'Group' }
  - if @assignment.has_teams?
    = f.input :gradeable_id, :collection => @teams, :label => "#{current_course.team_ref}"
    = f.input :gradeable_type, :as => :hidden, :input_html => { :value => 'Team' }
  - if @assignment.has_levels?
    = f.input :raw_score, :collection => @score_levels.map { |l| [l.name,l.value] }, :as => :select
  - else
    = f.input :raw_score, :default => @assignment.point_total, :label => "Score", :hint => "Total Assignment Points: #{@assignment.point_total}"
  = f.input :final_score
  = f.input :feedback, :as => :text, :input_html => {:id => 'some-textarea', :class => 'span9' }
  - if @assignment.release_necessary?
    = f.input :status, :as => :radio_buttons, :collection => [["New"], ["Graded"],["Released"]]
  - if current_course.has_badges? && current_course.assignment_badges? or current_course.has_badges? && current_course.multi_badges?
    = f.simple_fields_for :earned_badges, @earned_badges do |ebf|
      //TODO Add badge image as label
      = ebf.input :earned, :as => :boolean, :label => ebf.object.name
      //%img{:src => ebf.try(:icon), :alt => ebf.try(:name)}
      = ebf.input :badge_id, :input_html => { :value => ebf.object.badge_id }, :as => :hidden
      = ebf.input :earnable_id, :input_html => { :value => @grade.id }, :as => :hidden
      = ebf.input :earnable_type, :input_html => { :value => 'Grade' }, :as => :hidden
  = f.submit :class => 'btn btn-primary'