%div.span2= render 'layouts/admin_subnav'

%div.span8
  %h3= "#{@assignment.name} Submissions"
  %table.table.table-bordered
    %tr
      %th User
      %th Group
      %th Link
      %th Comment
      %th Feedback
      %th
      %th
      %th
  
    - @assignment_submissions.each do |assignment_submission|
      %tr
        %td= link_to assignment_submission.user.try(:name), assignment_submission.user
        %td= assignment_submission.group_id
        %td= link_to assignment_submission.link
        %td= assignment_submission.comment
        %td= assignment_submission.feedback
        %td= link_to 'View', assignment_assignment_submission_path(@assignment, assignment_submission, :gradeable_id => assignment_submission.user.id, :gradeable_type => "User"), :class => 'btn btn-mini'
        %td= link_to 'Edit', edit_assignment_assignment_submission_path(@assignment, assignment_submission, :gradeable_id => assignment_submission.user.id, :gradeable_type => "User"), :class => 'btn btn-mini'
        %td= link_to 'Delete', assignment_assignment_submission_path(@assignment, assignment_submission), :class => 'btn btn-mini', :data => { :confirm => 'Are you sure?' }, :method => :delete
  
  %div.span12
    = link_to 'New Assignment submission', new_assignment_assignment_submission_path(@assignment), {:class => 'btn btn-primary'}
