%table.table.table-bordered
  %tr
    %th Assignment
    %th User
    %th Group
    %th Comment
    %th Feedback
    %th
    %th
    %th

  - @assignment_submissions.each do |assignment_submission|
    %tr
      %td= assignment_submission.assignment.name
      %td= assignment_submission.user.try(:name)
      %td= assignment_submission.group_id
      %td= assignment_submission.comment
      %td= assignment_submission.feedback
      %td= link_to 'View', assignment_assignment_submission_path(@assignment, assignment_submission), :class => 'btn btn-mini'
      %td= link_to 'Edit', edit_assignment_assignment_submission_path(@assignment, assignment_submission), :class => 'btn btn-mini'
      %td= link_to 'Delete', assignment_assignment_submission_path(@assignment, assignment_submission), :class => 'btn btn-mini', :data => { :confirm => 'Are you sure?' }, :method => :delete

%div#footerNav
  = link_to 'New Assignment submission', new_assignment_assignment_submission_path(@assignment), {:class => 'btn btn-primary'}
