%p
  %b Assignment:
  = link_to @assignment_submission.assignment.try(:name), @assignment_submission.assignment
- if @assignment_submission.assignment.is_individual? 
  %p
    %b User:
    = link_to @assignment_submission.user.try(:name), @assignment_submission.user
- elsif @assignment_submission.has_groups?
  %p
    %b Group:
    = @assignment_submission.group_id
%p
  %b Link:
  = link_to @assignment_submission.link
%p
  %b Comment:
  = @assignment_submission.comment

- if current_user.is_staff? 
  = render 'grade_form'

%div.span12
  = link_to 'Edit', edit_assignment_assignment_submission_path(@assignment, @assignment_submission, :gradeable_id => @user, :gradeable_type => "User"), {:class => 'btn btn-primary'}
  = link_to 'Back', assignment_assignment_submissions_path(@assignment), {:class => 'btn btn-primary'}
