- if current_user.is_staff?
  %div.span2= render 'layouts/admin_subnav'

%div.span8
  %p
    %b Assignment:
    = link_to @assignment_submission.assignment.try(:name), @assignment_submission.assignment
  - if @assignment_submission.assignment.is_individual? 
    %p
      %b User:
      = link_to @assignment_submission.submittable.try(:name), @assignment_submission.submittable
  - elsif @assignment_submission.assignment.has_groups?
    %p
      %b Group:
      = link_to @assignment_submission.submittable.try(:name), assignment_group_path(@assignment_submission, @assignment_submission.submittable)
  %p
    %b Link:
    = link_to @assignment_submission.link
  %p
    %b Comment:
    = raw @assignment_submission.comment
  
  - if current_user.is_staff? 
    = render 'grade_form'

    %div.span12
      = link_to 'Edit Submission', edit_assignment_assignment_submission_path(@assignment, @assignment_submission), {:class => 'btn btn-primary'}
      = link_to 'Back', assignment_assignment_submissions_path(@assignment), {:class => 'btn btn-primary'}
  
  - elsif current_user.is_staff? 
    = link_to 'Edit Submission', edit_assignment_assignment_submission_path(@assignment, @assignment_submission), {:class => 'btn btn-primary'}
  