= simple_form_for(@course, :html => {:class => 'form-horizontal' }) do |f|
  = f.input :name 
  = f.input :courseno
  = f.input :semester, :collection => [["Winter", "winter"], ["Spring", "spring"], ["Summer", "summer"], ["Fall", "fall"]]
  = f.input :year
  = f.input :badge_setting, :label => "Do you want to use badges in your course?", :hint => "", :as => :boolean, :boolean_style => "inline"
  = f.input :badge_sets_id, :collection => @badge_sets, :prompt => "-- Select a Badge Set --", :label => "Which badge set will you use?"
  = f.input :themes_id, :collection => @themes, :prompt => "-- Select a Theme --"
  = f.input :team_setting, :hint => "Will you have semester-long teams in your course?"
  = f.input :team_term, :label => "What will you call these teams?", :hint => "Teams, Groups, Sections..."
  = f.input :user_term, :hint => "Students, Learners, Players...", :label => "What will you call your users? "
    
  = f.button :submit, :class => 'btn btn-primary'
  = link_to 'Cancel', courses_path, :class => 'btn btn-primary'