= simple_form_for(@course, :html => {:class => 'form-horizontal' }) do |f|
  = f.input :name, :label => "Course Title"
  = f.input :courseno, :label => "Course Number"
  = f.input :semester, :collection => [["Winter", "winter"], ["Spring", "spring"], ["Summer", "summer"], ["Fall", "fall"]]
  = f.input :year, :collection => (Date.today.year)..(Date.today.year + 2) 
  = f.input :badge_setting, :hint => "Do you want to use badges in your course?", :label => "Badges", :as => :radio_buttons
  = f.association :badge_sets, :collection => @badge_sets, :label => "Badge Set", :as => :check_boxes
  = f.input :theme_id, :collection => @themes, :prompt => "-- Select a Theme --"
  = f.input :team_setting, :hint => "Will you have semester-long teams in your course?", :label => "Teams", :as => :radio_buttons
  = f.input :team_term, :label => "Team Term", :hint => "What will you call these? Team, Group, Section..."
  = f.input :group_setting, :hint => "Will students work in groups on any assignments, and thus all receive the same grade?", :as => :radio_buttons
  = f.input :group_term, :hint => "What will these groups be called?"
  = f.input :user_term, :hint => "What will you call your user? Student, Learner, Player...", :label => "User Term"
  = f.input :section_leader_term, :hint => "TA, GSI, Team Leader..."
  = f.input :team_roles, :hint => "Do students self-declare their role within groups?"
  = f.input :homepage_message, :as => :text, :label => "Homepage description:", :input_html => {:id => 'some-textarea', :class => 'span9' }, :placeholder => "Text here will be shown on the course homepage when students login."
  = f.input :user_weight_amount, :label => "Student set what amount of the course?"
  = f.input :user_weight_amount_type, :label => "Amount type", :collection => [["Multiplier"],["Percent"]]
  = f.input :user_weight_amount_close_date, :label => "What date must they make this decision by?", :as => :date
  
  .form-actions    
    = f.button :submit, :class => 'btn'
    = link_to 'Cancel', courses_path, :class => 'btn'