= simple_form_for(@course, :html => {:class => 'form-horizontal' }) do |f|
  = f.input :name, :label => "Course Title"
  = f.input :courseno, :label => "Course Number"
  = f.input :semester, :collection => [["Winter", "winter"], ["Spring", "spring"], ["Summer", "summer"], ["Fall", "fall"]]
  = f.input :year, :collection => (Date.today.year)..(Date.today.year + 2) 
  = f.input :badge_setting, :hint => "Do you want to use badges in your course?", :label => "Badges", :as => :boolean, :boolean_style => "inline"
  = f.association :badge_set, :collection => @badge_sets, :prompt => "-- Select a Badge Set --", :label => "Badge Set"
  = f.input :theme_id, :collection => @themes, :prompt => "-- Select a Theme --"
  = f.input :team_setting, :hint => "Will you have semester-long teams in your course?", :label => "Teams"
  = f.input :team_term, :label => "Team Term", :hint => "What will you call these? Team, Group, Section... Make sure that they're singular!"
  = f.input :group_setting, :hint => "Will students work in groups on any assignments, and thus all receive the same grade?"
  = f.input :user_term, :hint => "What will you call your user? Student, Learner, Player...", :label => "User Term"
  = f.input :homepage_message, :as => :text, :label => "Homepage description:", :input_html => {:id => 'some-textarea', :class => 'span9' }, :placeholder => "Text here will be shown on the course homepage when students login."
  = f.input :user_weight_amount, :label => "Student set percentage (%)"
  
  .form-actions    
    = f.button :submit, :class => 'btn btn-primary'
    = link_to 'Cancel', courses_path, :class => 'btn btn-primary'