= semantic_form_for @course do |f|
  = f.inputs do
    = f.label "Name"
    = f.text_field :name, :class => 'input-small span4'
    = f.label "Course Number"
    = f.text_field :courseno, :class => 'input-small span4'
    = f.label "Semester"
    = f.select :semester, [["Winter", "winter"], ["Spring", "spring"], ["Summer", "summer"], ["Fall", "fall"]]
    = f.label "Year"
    = f.datepicker :year
    = f.label "Are you using badges?"
    = f.check_box :badge_setting, :label => "Yes"
    = f.label "Badge Set"
    = f.select :badge_sets_id, @badge_sets
    = f.label "GradeCraft Theme"
    = f.select :themes_id, @themes
    = f.label "Will students be grouped into teams or sections?"
    = f.check_box :team_setting, :label => "Yes"
    = f.label "What will these groups be called?"
    = f.text_field :team_term
    = f.label "How would you like to refer to your students? Users, Players, Students, Learners..."
    = f.text_field :user_term
  