= simple_form_for(@course, :html => {:class => 'form-horizontal' }) do |f|
  %div.well
    %h4 THE BASICS
    = f.input :name, :label => "Course Title"
    = f.input :courseno, :label => "Course Number"
    = f.input :semester, :collection => [["Winter", "winter"], ["Spring", "spring"], ["Summer", "summer"], ["Fall", "fall"]]
    = f.input :year, :collection => (Date.today.year)..(Date.today.year + 2) 
    = f.input :theme_id, :collection => @themes, :prompt => "-- Select a Theme --"
    = f.association :course_grade_scheme, :collection => @course_grade_schemes
    = f.input :has_assignment_submissions, :hint=> "Will you be using GradeCraft to accept assignment submissions?", :label => "Assignment Submissions"
    = f.input :predictor_setting, :label => "Can the students see the predictor on their dashboard?", :as => :radio_buttons

  %div.well  
    %h4 BADGES
    = f.input :badge_setting, :hint => "Do you want to use badges in your course?", :label => "Badges", :as => :radio_buttons
    = f.association :badge_sets, :collection => @badge_sets, :label => "Badge Set", :as => :check_boxes
    = f.input :badge_use_scope, :label => "How will badges be used?", :collection => [["Awarded for Assignments", "Assignment"],["Awarded outside of Assignments","Course"],["Awarded in Both","Both"]]
    = f.input :badges_value, :label => "Will badges have points attached to them?", :as => :radio_buttons
  
  %div.well
    %h4 TEAMS & GROUPS
    = f.input :team_setting, :hint => "Will you have semester-long teams in your course?", :label => "Teams", :as => :radio_buttons
    = f.input :team_term, :label => "Team Term", :hint => "What will you call these? Team, Group, Section..."
    = f.input :teams_visible, :label => "Can students see the teams, their points, and their badges?"
    = f.input :team_roles, :hint => "Do students self-declare their role within groups?"
    = f.input :section_leader_term, :hint => "TA, GSI, Team Leader...", :label => "What do you call your team leaders?"
    = f.input :group_setting, :hint => "Will students work in groups on any assignments, and thus all receive the same grade?", :as => :radio_buttons
    = f.input :group_term, :hint => "What will these groups be called?"

  %div.well
    %h4 STUDENTS
    = f.input :user_term, :hint => "What will you call your user? Student, Learner, Player...", :label => "User Term"
    
  %div.well
    %h4 MULTIPLIERS
    = f.input :user_weight_amount, :label => "Student set what amount of the course?"
    = f.input :user_weight_amount_type, :label => "Amount type", :collection => [["Multiplier"],["Percent"]]
    = f.input :user_weight_amount_close_date, :label => "What date must they make this decision by?", :as => :date
    = f.input :multiplier_default, :label => "What amount should other assignment types be multiplied by?"
    = f.input :multiplier_term, :label => "What do you want to call these weights/multipliers?"
  
  .form-actions    
    = f.button :submit, :class => 'btn'
    = link_to 'Cancel', courses_path, :class => 'btn'