%ul.nav.nav-list
  %li.nav-header Course Settings
  %li= link_to "Grade Scheme", course_grade_schemes_path
  %li= link_to "Badge Sets", badge_sets_path
  %li= link_to "Assignment Types", assignment_types_path
  %li= link_to "Staff", staff_users_path
  %li= link_to "Themes", themes_path