= render 'form'
  
= submit_tag 'Update Course', :class => 'btn btn-primary'
or
= link_to 'Cancel', root_path, :class => 'btn btn-primary'

%div#footerNav
  %span.button= link_to 'Show', @course
  %span.button= link_to 'Back', courses_path
