%div{:class => 'btn-group inline-fix'}
  = link_to "Assignments",  assignments_path, :class => "btn"
  - if current_course.has_badges?                
    = link_to "Badges", badges_path, :class => "btn"
  - if current_course.has_teams?                
    = link_to "Teams", teams_path, :class => "btn"
    = link_to "Challenges", challenges_path, :class => "btn"
  = link_to "Groups", groups_path, :class => "btn"
  = link_to "Predictor Settings", predictor_users_path, :class => "btn"
  = link_to "Course Grade Scheme", course_grade_schemes_path, :class => "btn"
  = link_to "Students", students_users_path, :class => "btn"
  = link_to "Staff", staff_users_path, :class => "btn"
  = link_to "News", news_index_path, :class => "btn"
%br  
%h3 Edit Course
%br
= render 'form'

%div#footerNav