%table.table-bordered.table
  %thead
    %tr
      %th Name
      %th Course No
      %th Year
      %th Semester
      %th Badge Set
      %th Theme
      %th Grade Scheme
      %th
      %th
      %th
  %tbody
    - @courses.each do |course|
      %tr
        %td= course.name
        %td= course.courseno
        %td= course.year
        %td= course.semester
        %td= course.badge_set_id
        %td= course.theme_id
        %td= course.coursegradescheme
        %td= link_to 'View', course
        %td= link_to 'Edit', edit_course_path(course)
        %td= link_to 'Delete', course, :confirm => 'Are you sure?', :method => :delete

%div#footerNav
  = link_to 'New Course', new_course_path, {:class => 'btn btn-primary'}
