%div.span2= render 'layouts/admin_subnav'

%div.span8
  %h3 Course Index
  %table.table-bordered.table
    %thead
      %tr
        %th Name
        %th Course No
        %th Year
        %th Semester
        %th Badge Set
        %th Theme
        %th Total Points
        %th Grade Scheme
        %th
        %th
        %th
    %tbody
      - @courses.each do |course|
        %tr
          %td= course.name
          %td= course.courseno
          %td= course.year
          %td= course.semester
          %td= course.badge_set_id
          %td= course.theme.try(:name)
          %td= course.total_points
          %td= course.course_grade_scheme.try(:name)
          %td= link_to 'View', course, :class => 'btn btn-mini'
          %td= link_to 'Edit', edit_course_path(course), :class => 'btn btn-mini'
          %td= link_to 'Delete', course, :class => 'btn btn-mini', :data => { :confirm => 'Are you sure?' }, :method => :delete
  
  %div.span12
    = link_to 'New Course', new_course_path, {:class => 'btn btn-primary'}
