%div{:class => 'btn-group inline-fix'}
  = link_to "Assignments",  assignments_path, :class => "btn"
  - if current_course.has_badges?                
    = link_to "Badges", badges_path, :class => "btn"
  - if current_course.has_teams?                
    = link_to "#{current_course.team_term}s", teams_path, :class => "btn"
    = link_to "Challenges", challenges_path, :class => "btn"
  = link_to "Groups", groups_path, :class => "btn"
  = link_to "Predictor Settings", predictor_users_path, :class => "btn"
  = link_to "Course Grade Scheme", course_grade_schemes_path, :class => "btn"
  = link_to "#{current_course.user_term}s", students_users_path, :class => "btn"
  = link_to "Staff", staff_users_path, :class => "btn"
  = link_to "News", news_index_path, :class => "btn"
%br  
%h3 Course Settings
%br

%p
  %b Name:
  = @course.name
%p
  %b Course No:
  = @course.courseno
%p
  %b Year:
  = @course.year
%p
  %b Semester:
  = @course.semester
%p
  %b Badge Set:
  = @course.badge_setting
%p
  %b Theme:
  = @course.theme.name
%p
  %b Course Grade Scheme:
  = @course.coursegradescheme

%p
  %b Students will be grouped into teams or sections:
  = @course.team_setting

%p
  %b These sections will be called:
  = @course.team_term
  
%p 
  %b Students will be called:
  = @course.user_term


%div#footerNav
  = link_to 'Edit', edit_course_path(@course), :class => 'btn btn-primary'
  = link_to 'Back', courses_path, :class => 'btn btn-primary'
