%p#notice= notice

%p
  %b Name:
  = @course.name
%p
  %b Course No:
  = @course.courseno
%p
  %b Year:
  = @course.year
%p
  %b Semester:
  = @course.semester
%p
  %b Badge Set:
  = @course.badge_sets_id
%p
  %b Theme:
  = @course.themes_id
%p
  %b Course Grade Scheme:
  = @course.coursegradescheme

%div#footerNav
  %span.button= link_to 'Edit', edit_course_path(@course)
  %span.button= link_to 'Back', courses_path
