= simple_form_for(@challenge) do |f|

  .form-inputs
    = f.input :name
    = f.input :description
    = f.input :point_total
    = f.input :due_date
    = f.input :course_id
    = f.input :points_predictor_display
    = f.input :visible
    = f.input :has_challenge_submissions
    = f.input :release_necessary

  .form-actions
    = f.button :submit