= semantic_form_for @challenge do |f|
  = f.inputs do
    = f.label "Title"
    = f.text_field :title
    = f.label :type
    = f.select :type, [["Team", "Team"], ["Reading Reaction", "ReadingReaction"], ["User", "User"]]
    = f.label "Points Possible"
    = f.text_field :points
    = f.label "Description"
    = f.cktext_area :description
    = f.label "Due Date"
    = f.datepicker :date

  = submit_tag 'Create', :class => 'btn btn-primary'
  or
  = link_to 'Cancel', root_path, :class => 'btn btn-primary'
