= simple_form_for(@challenge, :html => {:class => 'form-horizontal' }) do |f|
  = f.input :title, :label => "Challenge Title"
  = f.input :points, :label => "Points Possible"
  = f.input :description, :as => :text, :label => "Description", :input_html => {:id => 'some-textarea', :class => 'span6' }
  = f.input :date, :label => "Due Date"
  = f.button :submit, :class => 'btn btn-primary'
  = link_to 'Cancel', challenges_path, :class => 'btn btn-primary'
