- if current_user.is_staff?
  = link_to 'New Challenge', new_challenge_path, :class => "btn btn-info btn-small"

%table.table-bordered.table.display
  %thead
    %tr
      %th Name
      %th Description
      %th Point total
      %th Due date
      %th Visible
      %th Submissions?
      %th Release necessary
      %th
      %th

  %tbody
    - @challenges.each do |challenge|
      %tr
        %td= link_to challenge.name, challenge
        %td= challenge.description
        %td= challenge.point_total
        %td= challenge.due_date
        %td= challenge.visible? ? 'Yes' : 'No'
        %td= challenge.has_challenge_submissions? ? 'Yes' : 'No'
        %td= challenge.release_necessary? ? 'Yes' : 'No'
        %td= link_to 'Edit', edit_challenge_path(challenge), :class => 'btn btn-tiny btn-success'
        %td= link_to 'Delete', challenge, :class => 'btn btn-tiny btn-success', :method => :delete, data: { confirm: 'Are you sure?' }

