= link_to 'Edit', edit_challenge_path(@challenge), :class => 'btn btn-info btn-tiny btn-success'
= link_to 'Back', challenges_path, :class => 'btn btn-info btn-tiny btn-success'

%p
  %b Name:
  = @challenge.name
%p
  %b Description:
  = @challenge.description
%p
  %b Point total:
  = @challenge.point_total
%p
  %b Due date:
  = @challenge.due_date
%p
  %b Visible to students:
  = @challenge.visible? ? 'Yes' : 'No'
%p
  %b Challenge Submissions:
  = @challenge.has_challenge_submissions? ? 'Yes' : 'No'
%p
  %b Release Necessary:
  = @challenge.release_necessary? ? 'Yes' : 'No'

