%p
  %b Points:
  = @challenge.points
%p
  %b Description:
  = raw @challenge.description
%p
  %b Date:
  = @challenge.date

%div#footerNav
  %span.button= link_to 'Edit', edit_challenge_path(@challenge)
  %span.button= link_to 'Back', challenges_path
