%p
  %b Points:
  = @challenge.points
%p
  %b Description:
  = raw @challenge.description
%p
  %b Date:
  = @challenge.date

%div#footerNav
  = link_to 'Edit', edit_challenge_path(@challenge), :class => 'btn btn-primary'
  = link_to 'Back', challenges_path, :class => 'btn btn-primary'
