%h1= @challenge.title
%p
  %b Points:
  = @challenge.points
%p
  %b Description:
  = @challenge.description
%p
  %b Date:
  = @challenge.date

= link_to 'Edit', edit_challenge_path(@challenge)
\|
= link_to 'Back', challenges_path
