= semantic_form_for @challenge_score do |f|
  = f.inputs do
    .text= f.input :team_id, :as => :select, :collection => @teams
    .text= f.input :challenge_id, :as => :select, :collection => @challenges
    = f.input :feedback, :as => :text
    .text= f.input :score
    = f.buttons(:label => "Add Team Points") 