%table
  %tr
    %th Score
    %th Feedback
    %th Team
    %th Challenge
    %th
    %th
    %th

  - @challenge_scores.each do |challenge_score|
    %tr
      %td= challenge_score.score
      %td= challenge_score.feedback
      %td= challenge_score.team_id
      %td= challenge_score.challenge_id
      %td= link_to 'Show', challenge_score
      %td= link_to 'Edit', edit_challenge_score_path(challenge_score)
      %td= link_to 'Destroy', challenge_score, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Challenge score', new_challenge_score_path
