= simple_form_for([@assignment, @rubric], :html => {:class => 'form-horizontal' }) do |f|
  = f.input :name
  = f.input :description, :as => :ckeditor, :input_html => { :ckeditor => {:toolbar => "Mini", :id => 'some-textarea', :class => 'span12', :maxlength => 1000} }, :placeholder => "Describe what the broader goals of this rubric."

  .form-actions
    %div.btn-toolbar
      %div.btn-group
        = f.button :submit, :class => "btn-primary"
      %div.btn-group
        = link_to 'Cancel', assignment_path(@assignment), :class => 'btn btn-info'