= simple_form_for([@assignment, @rubric]) do |f|
  .form-inputs
    = f.input :name
    = f.input :assignment_id
    = f.input :description

  .form-actions
    %div.btn-toolbar
      %div.btn-group
        = f.button :submit, :class => "btn-primary"
      %div.btn-group