%div#subNav
  = link_to "Grade an Assignment", new_grade_url, :class => "btn btn-inverse"
  - if current_course.has_teams?
    = link_to "Grade a Team Challenge", new_challenge_grade_url, :class => "btn btn-inverse"
  - if current_course.has_badges?
    = link_to "Award a Badge", new_earned_badge_url, :class => "btn btn-inverse"
    
%div.span6
  %h4= "Top 10" 
  %table.table.table-bordered
    %thead
      %tr
        %th Student
        %th Score
        %th Badges Earned
        %th Logins
        %th Pageviews
        %th Predictor Views
    %tbody
      - @top_ten_students.each do |student|
        %tr
          %td= link_to student.name, user_path(:id => student.id)
          %td= student.sortable_score
          %td= student.user_badge_count
          %td= student.visit_count
          %td= student.page_views
          %td= student.predictor_views

%div.span5      
  %h4= "Teams"
  %table.table.table-bordered
    %thead
      %tr
        %th ID
        %th Name
        %th Rank
        %th Score
        %th Total Badges
    %tbody
      - @teams.each do |team|
        %tr
          %td= team.id
          %td= link_to team.name, team
          %td= team.rank
          %td= team.score
          %td= team.badge_count
          
%div.span6
  %h4= "Bottom 10"  
  %table.table.table-bordered
    %thead
      %tr
        %th Student
        %th Score
        %th Badges Earned
        %th Logins
        %th Pageviews
        %th Predictor Views
    %tbody
      - @bottom_ten_students.each do |student|
        %tr
          %td= link_to student.name, user_path(:id => student.id)
          %td= student.sortable_score
          %td= student.user_badge_count
          %td= student.visit_count
          %td= student.page_views
          %td= student.predictor_views

