%h3= current_user.team.name
%br
%table#dashboard
  %thead
    %tr
      %th 
      %th Username
      %th First Name
      %th Last Name
      %th Score
      %th Badges
      %th View Profile
  %tbody
    - User.where(:team_id => current_user.team_id).each do |user|
      %tr
        %td= gravatar_for user
        %td= user.username
        %td= user.first_name
        %td= user.last_name
        %td= user.score
        %td
          - user.earned_badges.each do |badge|
            %img{:src => asset_path(badge.icon), :alt => badge.name, :width => "25"}
        %td
          - if user.is_student?
            = link_to 'Dashboard', user

%div#footerNav
  = link_to "Grade an Assignment", new_grade_url, :class => "btn btn-inverse"
  = link_to "Grade a Team Challenge", new_challenge_grade_url, :class => "btn btn-inverse"