%div.span2= render 'layouts/admin_subnav'

%div.span8  
  %div.row
    %div.span6
      %h4= "My Students" 
      %table.table.table-bordered
        %thead
          %tr
            %th= current_course.user_ref
            %th Score
            %th Badges Earned
            %th Attendance Rate
            %th Logins
            %th Pageviews
            %th Predictor Views
            %th Email
            %th #{current_course.section_leader_ref}
        %tbody
          - @top_ten_students.each do |student|
            %tr
              %td= link_to student.name, user_path(student)
              %td= student.earned_grades(current_course)
              %td= student.user_badge_count
              %td= student.attendance_rate
              %td= student.visit_count
              %td= student.page_views
              %td= student.predictor_views
              %td= link_to "Email #{student.first_name}", "mailto:#{student.email}", :class => "btn btn-mini"
              %td
                - student.team_leader.tap do |team_leader|
                  - if team_leader.present?
                    %div= link_to "Email GSI (#{team_leader.first_name})", "mailto:#{team_leader.email}", :class => "btn btn-primary btn-mini"
  %div.row
    %hr
    %h3= "Ungraded Assignment Submissions"
    - @submissions.group_by(&:assignment).each do |assignment, submissions|
      %span.assignmentTypeTitle= link_to "#{assignment.try(:name)}", assignment_path(assignment)
      %span.assignmentTypeValue= "(#{assignment.try(:point_total)} total points)" 
      %table.table.table-bordered
        %thead
        %tr
          %th
            - if assignment.is_individual?
              = current_course.user_ref
            - elsif assignment.has_groups? 
              = current_course.group_ref
            - elsif assignment.has_teams?
              = current_course.team_ref
          %th Link
          %th Comment
          %th 
        %tbody
          %tr
            - assignment.assignment_submissions_for_assignment(assignment).tap do |submission|
              - if submission.ungraded
                %td= submission.submittable.try(:name)
                %td= link_to submission.link, submission.link
                %td= submission.comment
                - if assignment.has_groups?
                  %td= link_to 'Grade', assignment_assignment_submission_path(assignment, submission, :gradeable_id => submission.submittable.id, :gradeable_type => "Group"), :class => 'btn btn-mini'
                  %td= link_to 'Edit', edit_assignment_assignment_submission_path(assignment, submission, :gradeable_id => submission.submittable.id, :gradeable_type => "Group"), :class => 'btn btn-mini'
                  %td= link_to 'Delete', assignment_assignment_submission_path(assignment, submission), :class => 'btn btn-mini', :data => { :confirm => 'Are you sure?' }, :method => :delete
                - elsif assignment.has_teams? 
                  %td= link_to 'Grade', assignment_assignment_submission_path(assignment, submission, :gradeable_id => submission.submittable.id, :gradeable_type => "Team"), :class => 'btn btn-mini'
                  %td= link_to 'Edit', edit_assignment_assignment_submission_path(assignment, submission, :gradeable_id => submission.submittable.id, :gradeable_type => "Team"), :class => 'btn btn-mini'
                  %td= link_to 'Delete', assignment_assignment_submission_path(assignment, submission), :class => 'btn btn-mini', :data => { :confirm => 'Are you sure?' }, :method => :delete
                - elsif assignment.is_individual? 
                  %td= link_to 'Grade', assignment_assignment_submission_path(assignment, submission, :gradeable_id => submission.submittable.id, :gradeable_type => "User"), :class => 'btn btn-mini'
                  %td= link_to 'Edit', edit_assignment_assignment_submission_path(assignment, submission, :gradeable_id => submission.submittable.id, :gradeable_type => "User"), :class => 'btn btn-mini'
                  %td= link_to 'Delete', assignment_assignment_submission_path(assignment, submission), :class => 'btn btn-mini', :data => { :confirm => 'Are you sure?' }, :method => :delete

              