%h3#user= current_user.first_name+" "+current_user.last_name
%div#leftSidebar
  %div#userGravatar
    = gravatar_for current_user, :size => 200
  %div#badgesWrapper
    %span.title Badges Earned
    %div#badgesEarned
      - current_user.earned_badges.each do |badge|
        %img{:src => badge.icon, :alt => badge.title}
        

%div#mainInfo
  %h2#points 
  %div#userScoreSection
    %div#userPointValues
      %span Your current score is 
      %span#userScoreNum #{current_user.score}
      %span#scoreSoFar.toggle 
        out of 
        %span#availablePoints 
          #{current_user.possible_score} 
        possible points so far
      %span#scoreTotal.toggle 
        out of 
        %span#courseTotalPts
          #{Assignment.sum(:point_total)} 
        total points in the course
    %br
    %div#userBarInProgress.toggle
    %div#userBarTotal.toggle
    %div#scoreToggle
      %span#showTotalPts.toggle Show score out of total course points
      %span#showPossiblePts.toggle Show score out of possible points so far

  %h3#attendance.assignTitle
    %span Assignments
    %span.assignmentPointsSpan #{current_user.standard_score} / #{current_user.standard_possible}
  %div.collapsible
    - Grade.where(:user_id => current_user.id).each do |grade|
      - if grade.assignment.type == "Standard"
        %div.completedAssignment
          %span.assignmentTitle= grade.title
          %br
          %span.assignmentGrade= grade.score
          out of
          %span.assignmentScore= grade.point_total
          %span possible points
          //%span= link_to "View Feedback" grade_path(grade)
          %br
          - grade.earned_badges.each do |badge|
            %img{:src => badge.icon, :alt => badge.title, :width => "25"} 

  %h3#attendance.assignTitle
    %span Attendance
    %span.assignmentPointsSpan #{current_user.attendance_score} / #{current_user.attendance_possible}
  %div.collapsible
    - Grade.where(:user_id => current_user.id).each do |grade|
      - if grade.assignment.type == "Attendance"
        %div.completedAssignment
          %span.assignmentTitle= grade.title
          %br
          %span.assignmentGrade= grade.score
          out of
          %span.assignmentScore= grade.point_total
          %br
          - grade.earned_badges.each do |badge|
            %img{:src => badge.icon, :alt => badge.title, :width => "25"}
  
  %h3#reading.assignTitle 
    %span Reading Reactions
    %span.assignmentPointsSpan #{current_user.reading_reaction_score} / #{current_user.reading_reaction_possible}
  %div.collapsible
    - Grade.where(:user_id => current_user.id).each do |grade| 
      - if grade.assignment.type == "ReadingReaction"
        %div.completedAssignment
          %span.assignmentTitle= grade.title
          %br
          %span.assignmentGrade= grade.score
          out of
          %span.assignmentScore= grade.point_total
          %span.assignmentFeedback= grade.feedback
          %br
          - grade.earned_badges.each do |badge|
            %img{:src => badge.icon, :alt => badge.title, :width => "25"}
  
  %h3#blogging.assignTitle
    %span Blogging
    %span.assignmentPointsSpan #{current_user.blogging_score}
  %div.collapsible
    - Grade.where(:user_id => current_user.id).each do |grade|
      - if grade.assignment.type == "Blogging"
        %div.completedAssignment
          %span.assignmentTitle= grade.title
          %br
          %span.assignmentGrade= grade.score
          out of
          %span.assignmentScore= grade.point_total
          %br
          - grade.earned_badges.each do |badge|
            %img{:src => badge.icon, :alt => badge.title, :width => "25"} 
            
  %h3#bonus.assignTitle
    %span Bonus Points!
    %span.assignmentPointsSpan
  %div.collapsible
    - Grade.where(:user_id => current_user.id).each do |grade|
      - if grade.assignment.type == nil
        %div.completedAssignment
          %span.assignmentTitle= grade.title
          %br
          %span.assignmentGrade= grade.score
          out of
          %span.assignmentScore= grade.point_total
          %br
          - grade.earned_badges.each do |badge|
            %img{:src => badge.icon, :alt => badge.title, :width => "25"} 