%h3#user= current_user.first_name+" "+current_user.last_name
= gravatar_for @current_user, :size => 150
%div#mainInfo
  %h2#points 
  %div#userScoreSection
    %div#userPointValues
      %span Your current score is 
      %span#userScoreNum #{current_user.score}
      /%span#scoreSoFar.toggle out of 300,000 points possible so far
      %span#scoreTotal.toggle out of 1,245,000 total points in the course
    /%div#userBarInProgress.toggle
    %div#userBarTotal.toggle
    %div#scoreToggle
      /%span#showTotalPts.toggle Show score out of total course points
      /%span#showPossiblePts.toggle Show score out of possible points so far

  %h2#blogging Assignments
  - Grade.where(:user_id => current_user.id).each do |grade|
    - if grade.assignment.type == nil
      %div.completedAssignment
        %span.assignmentTitle= grade.title
        %br
        %span.assignmentGrade= grade.score
        out of
        %span.assignmentScore= grade.point_total
        %span possible points
        %br
        - grade.earned_badges.each do |badge|
          %img{:src => badge.icon, :alt => badge.title, :width => "25"} 

  %h2#attendance.assignTitle
    %span Assignments
    %span.assignmentPointsSpan #{current_user.score}/200,000 points
  %div.collapsible
    - Grade.where(:user_id => current_user.id).each do |grade|
      - if grade.assignment.type == "Attendance"
        %div.completedAssignment
          %span.assignmentTitle= grade.title
          %br
          %span.assignmentGrade= grade.score
          out of
          %span.assignmentScore= grade.point_total
          %br
          - grade.earned_badges.each do |badge|
            %img{:src => badge.icon, :alt => badge.title, :width => "25"}
  
  %h2#reading.assignTitle 
    %span Reading Reactions
    /%span.assignmentPointsSpan add reactions score out of total possible
  %div.collapsible
    - Grade.where(:user_id => current_user.id).each do |grade|
      - if grade.assignment.type == "ReadingReaction"
        %div.completedAssignment
          %span.assignmentTitle= grade.title
          %br
          %span.assignmentGrade= grade.score
          out of
          %span.assignmentScore= grade.point_total
          %br
          - grade.earned_badges.each do |badge|
            %img{:src => badge.icon, :alt => badge.title, :width => "25"}
  
  %h2#blogging.assignTitle
    %span Blogging
    /%span.assignmentPointsSpan add blogging score out of total possible
  %div.collapsible
    - Grade.where(:user_id => current_user.id).each do |grade|
      - if grade.assignment.type == "Blogging"
        %div.completedAssignment
          %span.assignmentTitle= grade.title
          %br
          %span.assignmentGrade= grade.score
          out of
          %span.assignmentScore= grade.point_total
          %br
          - grade.earned_badges.each do |badge|
            %img{:src => badge.icon, :alt => badge.title, :width => "25"}  
  


%div#badgesEarned
  %span.title Badges Earned:
  - current_user.earned_badges.each do |badge|
    %img{:src => badge.icon, :alt => badge.title}