%h3#user= current_user.name
%div#leftSidebar
  %div#userGravatar
    = gravatar_for current_user, :size => 230
  %div#badgesWrapper
    %span.title Badges Earned
    %div#badgesEarned
      - current_user.earned_badges.each do |badge|
        %div.earned-badge
          %img{:src => badge.icon, :alt => badge.title}
          .badgeTitle= badge.title
      %div.clear

%div#mainInfo
  %h2#points 
  %div#userScoreSection
    %div#userPointValues
      %span Your current score is 
      %span#userScoreNum #{current_user.score}
    %a{:href => "#", :id => "totalScoreToggle", :class => "dashboard-toggle"}
      Show me my score out of total course points
    %a{:href => "#", :id => "soFarScoreToggle", :class => "dashboard-toggle"}
      Show me my score out of available points so far
      
    %div#predictorLink
      = link_to 'Predict My Course Grade!', '/predictor'
    %div#userBarTotal.dashboard-toggle
      #{current_user.possible_score}
      
    %div#userBarInProgress.dashboard-toggle

  %h3#blogging.assignTitle
    %span Team Points
    %span.assignmentPointsSpan 
      %span#team_assignment_score #{current_user.team_assignment_score}
  %div.collapsible
    - Grade.completion.where(:gradeable_id => current_user.id, :gradeable_type => 'User').each do |grade|
      - if grade.assignment.type == "TeamAssignment"
        - if grade.attempted? 
          %div.completedAssignment 
            %span.assignmentTitle #{ grade.title } – 
            %span.assignmentGrade #{ grade.score }
            %br
            %span.assignmentFeedback= grade.feedback
            %br
            - grade.earned_badges.each do |badge|
              %img{:src => badge.icon, :alt => badge.title, :width => "40"}
        - else
          %div.incompleteAssignment
            %span.assignmentTitle= grade.title
            %br
            %span.assignmentGrade #{grade.score} out of #{grade.point_total} possible points
            %br
            %span Team Points are awarded at the end of the semester - how is your team doing? 
            
  %h3#bonus.assignTitle
    %span Bonus Points!
    %span.assignmentPointsSpan
  %div.collapsible
    - Grade.where(:gradeable_id => current_user.id, :gradeable_type => 'User').each do |grade|
      - if grade.assignment.type == nil
        %div.completedAssignment
          %span.assignmentTitle= grade.title
          %br
          %span.assignmentGrade= grade.score
          out of
          %span.assignmentScore= grade.point_total
          %br
          - grade.earned_badges.each do |badge|
            %img{:src => badge.icon, :alt => badge.title, :width => "25"} 
  
