%h1#user= @current_user.username

%h2#points 
  Current Points Total/Available Points
  = current_user.grades.map(&:score).inject(&:+)
  out of

%h2#grading Grades & Assignments

%h3#attendance Attendance

%h3#reading Reading Reactions

%h3#blogging Blogging

- Assignment.all.each do |assignment|
  - if grade = assignment.grades.where(:user_id => @user.id).first
    %div.completedAssignment
      %span.assignmentTitle= assignment.title
      %br
      %span.assignmentGrade= grade.score
      out of
      %span.assignmentScore= assignment.point_total
      %br
      - grade.earned_badges.each do |badge|
        %img{:src => badge.icon, :alt => badge.title, :width => "25"}
  - else
    %div.futureAssignment
      %span.assignmentTitle= assignment.title
      %br
      %span.assignmentScore Points Possible:
      = assignment.point_total
      %br
      %span.assignmentDueDate Due
      = assignment.due_date

%div#badgesEarned
  %span.title Badges Earned:
  - current_user.earned_badges.each do |badge|
    %img{:src => badge.icon, :alt => badge.title}