%h3#user= current_user.first_name+" "+current_user.last_name
= gravatar_for @user, :size => 150
%div#mainInfo
  %h2#points 
  %div Your current score is #{current_user.score}

  %h2#blogging Assignments
  - Grade.where(:user_id => current_user.id).each do |grade|
    - if grade.assignment.type == "Standard"
      %div.completedAssignment
        %span.assignmentTitle= grade.title
        %br
        %span.assignmentGrade= grade.score
        out of
        %span.assignmentScore= grade.point_total
        %br
        - grade.earned_badges.each do |badge|
          %img{:src => badge.icon, :alt => badge.title, :width => "25"} 

  %h2#attendance Attendance
  - Grade.where(:user_id => current_user.id).each do |grade|
    - if grade.assignment.type == "Attendance"
      %div.completedAssignment
        %span.assignmentTitle= grade.title
        %br
        %span.assignmentGrade= grade.score
        out of
        %span.assignmentScore= grade.point_total
        %br
        - grade.earned_badges.each do |badge|
          %img{:src => badge.icon, :alt => badge.title, :width => "25"}
  
  %h2#reading Reading Reactions
  - Grade.where(:user_id => current_user.id).each do |grade|
    - if grade.assignment.type == "ReadingReaction"
      %div.completedAssignment
        %span.assignmentTitle= grade.title
        %br
        %span.assignmentGrade= grade.score
        out of
        %span.assignmentScore= grade.point_total
        %br
        - grade.earned_badges.each do |badge|
          %img{:src => badge.icon, :alt => badge.title, :width => "25"}
  
  %h2#blogging Blogging
  - Grade.where(:user_id => current_user.id).each do |grade|
    - if grade.assignment.type == "Blogging"
      %div.completedAssignment
        %span.assignmentTitle= grade.title
        %br
        %span.assignmentGrade= grade.score
        out of
        %span.assignmentScore= grade.point_total
        %br
        - grade.earned_badges.each do |badge|
          %img{:src => badge.icon, :alt => badge.title, :width => "25"}  
  


%div#badgesEarned
  %span.title Badges Earned:
  - current_user.earned_badges.each do |badge|
    %img{:src => badge.icon, :alt => badge.title}