%h1#user= @current_user.username

%h2#points 
  Current Points Total/Available Points
  = current_user.grades.map(&:score).inject(&:+)
  out of

%h2#grading Grades & Assignments

%h3#attendance Attendance

%h3#reading Reading Reactions

%h3#blogging Blogging

- Assignment.all.each do |assignment|
  - if grade = assignment.grades.where(:user_id => current_user.id).first
    = assignment.title
    = grade.score
    out of
    = assignment.point_total
    %br
    - grade.earned_badges.each do |badge|
      %img{:src => badge.icon, :alt => badge.title}
    %br
  - else
    = assignment.title
    = assignment.point_total
    = assignment.due_date
    %br

%div#badgesEarned
  %span.title Badges Earned:
  - current_user.earned_badges.each do |badge|
    %img{:src => badge.icon, :alt => badge.title}