%ul.nav.nav-list
<<<<<<< HEAD
  %form.form-search.pull-right 
    %div.input-append
      = simple_form_for @user do |form|
        = form.input :name, :url => autocomplete_user_name_courses_path, :as => :autocomplete
=======
  %form.form-search.span12.input-append#search
    = form_for User.new, :url => "search" do |f|
      %input#appendedInputButton.span9{:placeholder => "Search #{current_course.user_ref}s"}
      %button.btn.btn-primary{:type => "submit"}Go
>>>>>>> master
  %li.nav-header Users
  %li= link_to "Students", students_users_path
  - if current_course.student_weighted? 
    %li= link_to "#{current_course.multiplier_ref} Choices", choices_users_path
  %li= link_to "Staff", staff_users_path
  %li.divider
  %li.nav-header Course Settings
  %li= link_to "Basic Settings", edit_course_path(current_course)
  %li= link_to "Course Grading Scheme", course_grade_schemes_path
  %li= link_to "Assignment Types", assignment_types_path
  %li= link_to "Assignments", assignments_path
  %li= link_to "#{current_course.team_term}s", teams_path
  %li= link_to "#{current_course.team_term} Challenges", challenges_path
  %li= link_to "Badge Sets", badge_sets_path
  %li= link_to "Badges", badges_path
  //%li= link_to "Themes", themes_path
  
  - if current_user.is_admin?
    %li.divider
    %li= link_to "All Users", all_users_path
    %li= link_to "Course Index", courses_path

      