%ul.nav.nav-list
  %li.nav-header Course Settings
  %li= link_to "Basic Settings", edit_course_path(current_course)
  %li= link_to "Grading Scheme", course_grade_schemes_path
  %li= link_to "Assignment Types", assignment_types_path
  %li= link_to "Assignments", assignments_path
  %li= link_to "#{current_course.team_term}s", teams_path
  %li= link_to "Badge Sets", badge_sets_path
  %li= link_to "Badges", badges_path
  %li= link_to "Themes", themes_path
  %li.nav-header Users
  %li= link_to "Students", students_users_path
  - if current_course.student_weighted? 
    %li= link_to "#{current_course.multiplier_ref} Choices", choices_users_path
  %li= link_to "Staff", staff_users_path
  %li= link_to "Import Users", import_users_path
  - if current_user.is_admin?
    %li= link_to "All Users", all_users_path
    %li.nav-header Courses
    %li= link_to "Course Index", courses_path
    %li= link_to "New Course", new_course_path
    