%div.span12
  - if flash[:notice]
    .alert.alert-success= flash[:notice]
  - if flash[:alert]
    .alert.alert-error= flash[:alert]
%div
  - if current_user && current_user.is_staff? &&! current_page?(:controller => 'users', :action => 'predictor')
    %div.col.col-lg-3
      %div.sidebar-nav-fixed.well#navbar
        = render 'layouts/admin_subnav'  
    %div.col.col-lg-9.content
      %h4= @title 
      %hr
      = yield
  - elsif current_user && current_user.is_staff? && current_page?(:controller => 'users', :action => 'predictor')
    %div#predictor
      %div.col.col-lg-3
        %div.sidebar-nav-fixed.well#navbar
          %ul.nav.nav-list
            %li.nav-header Quick Menu
            %li= link_to "Students", students_users_path
            %li= link_to "Assignments", assignments_path
            %li= link_to "Badges", badges_path
            %li= link_to "Settings", edit_course_path(current_course)
      %div.col.col-lg-9.content
        %h4= @title 
        %hr
        = yield
  - elsif current_user && current_user.is_student?
    - if current_page?(root_url) || current_page?('/dashboard')
      = yield
    - else
      %h4= @title
      %hr
      = yield
  - else  
    %div.span12
      = yield
