!!! XML
!!!
%html
  %head
    %title EDU222 Grade Tracker
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

%body
  #nav
    %ul
    - if current_user
      %li= link_to "Dashboard", dashboard_url
      %li= link_to "Assignments", assignments_url
      %li= link_to "Badges", badges_url
      %li= link_to "Team Rankings", teams_url
      %li= link_to "Team Challenges", challenges_url
      %li= link_to "My Account", edit_profile_users_path
      %li= link_to "Logout", :logout
    - else
      %li= link_to "Register", new_user_path
      %li= link_to "Login", :login
  %h1= title
  %div
    %p#notice= notice
    %p#alert= alert
  %div#content
    = yield

  #footer
    .copyright< Copyright 2012 Barry Fishman | <a href="/info/index">Site Credits</a>
