!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : (current_course.try(:name) || 'GradeCraft')
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    = stylesheet_link_tag "application", :media => "all"
    = if current_course.try(:theme).present?
      = stylesheet_link_tag current_course.theme.filename

  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          %a.brand(href="/")
            GradeCraft
            - if current_course
              | #{current_course.name}
          %div.pull-right
            - if current_user
              %div{:class => 'btn-group pull-right'}
                %button.btn.btn-primary= current_user.public_name
                %a{:class => 'btn btn-primary dropdown-toggle', "data-toggle" => 'dropdown', :href => '#' }
                  %span{:class => 'caret'}
                %ul{:class => 'dropdown-menu well'}
                  %li= link_to "My Account", edit_profile_users_path
                  %li= link_to "Logout", :logout
            - else
              %button.btn.btn-primary Login
              %a{:class => 'btn btn-primary dropdown-toggle', "data-toggle" => 'dropdown', :href => '#' }
                %span{:class => 'caret'}
              %ul{:class => 'dropdown-menu well'}
                = simple_form_for User.new, :url => user_sessions_path do |f|
                  = f.input :email, :label => false
                  = f.input :password, :label => false
                  %br
                  = f.input :remember_me, :as => :boolean
                  .btn.btn-primary= submit_tag "Login"
                  = link_to "Forgot your password?", login_path
            - if current_user.try(:is_staff?) && current_course
              %div{:class => 'btn-group pull-right'}
                %button.btn.btn-info= "Course"
                %a{:class => 'btn btn-info dropdown-toggle', "data-toggle" => 'dropdown', :href => '#' }
                  %span{:class => 'caret'}
                %ul{:class => 'dropdown-menu well'}
                  %li= link_to "New Assignment", new_assignment_path
                  %li= link_to "Gradebook"
                  %li= link_to "Students", users_path
                  %li= link_to "Teams", teams_path
                  %li= link_to "Team Challenges", challenges_path
                  %li= link_to "Badges", badges_path
                  %li= link_to "Course Settings", edit_course_path(current_course)
            - if current_user && current_course
              %div{:class => 'btn-group pull-right'}
                = link_to "Dashboard",  assignments_path, :class => "btn"
                = link_to "Predictor",  assignments_path, :class => "btn"
                = link_to "Assignments", assignments_path, :class => "btn"
                = link_to "Badges", badges_path, :class => "btn"
                = link_to "Team Rankings", teams_path, :class => "btn"

              

    .container-fluid
      .content
        .row
          .span12
            %h3#pageTitle= @title
            = render 'layouts/content'
    
      %footer#siteFooter
        &copy; 2012 Barry Fishman &#124; 
        = link_to "Site Credits", info_index_path
    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application"
