!!! XML
!!!
%html
  %head
    %title EDUC 222 Grade Tracker
    %link{:href => "http://fonts.googleapis.com/css?family=Copse|Droid+Serif", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "http://fonts.googleapis.com/css?family=Armata", :rel => "stylesheet", :type => "text/css" }
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

%body
  %h1#siteTitle EDUC 222 Grade Tracker
  %ul#myInfo
    - if current_user
      %li= link_to "My Account", edit_profile_users_path
      %li= link_to "Logout", :logout
    - else
      %table#loginGroup
        = form_tag user_sessions_path, :method => :post do
          %tr
            %td
              = label_tag :username
            %td
              = label_tag :password
          %tr
            %td
              = text_field_tag :username
            %td
              = password_field_tag :password
            %td.actions
              %span.submitBtn.small= submit_tag "Login"
          %tr
            %td
              = check_box_tag :remember_me, 1, params[:remember_me]
              = label_tag :remember_me
            %td
              %span#forgotPass= link_to "Forgot your password?", login_path
    
  - if current_user  
    #nav
      %ul
        - if current_user
          %li#navDashboard= link_to "Dashboard", dashboard_path, class: cp(dashboard_path)
          - if current_user.is_staff?
            %li#navUsers= link_to "Users", users_path, class: cp(users_path)
          - else
            // Show student only links here
          %li#navAssignments= link_to "Assignments", assignments_path, class: cp(assignments_path)
          %li#navBadges= link_to "Badges", badges_path, class: cp(badges_path)
          %ul#teamNav
            %li#navRankings= link_to "Rankings", teams_path, class: cp(teams_path)
            %li#navChallenges= link_to "Challenges", challenges_path, class: cp(challenges_path)


    %div#content
      %h2= title
      = yield
  - else
    %div#content.homeArcade
      %p#notice= notice
      %p#alert= alert
      %h2= title
      = yield
    
  #footer
    .copyright< Copyright 2012 Barry Fishman | <a href="/info/index">Site Credits</a>


= debug(params) if Rails.env.development?