!!! XML
!!!
%html
 %head
  %title Grader
  = stylesheet_link_tag "application" 
  = javascript_include_tag "application"
  = csrf_meta_tags
    
%body
 #nav
 - if current_user
  = link_to "Home", root_url
  = link_to "Edit Profile", edit_user_path(current_user.id)
  = link_to "Logout", :logout 
 - else
  = link_to "Register", new_user_path 
  = link_to "Login", :login 
 %div
  %p#notice= notice
  %p#alert= alert 
 = yield