!!! XML
!!!
%html
  %head
    %title EDUC 222 Grade Tracker
    %link{:href => "http://fonts.googleapis.com/css?family=Copse|Droid+Serif", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "http://fonts.googleapis.com/css?family=Armata", :rel => "stylesheet", :type => "text/css" }
    %link{:href => "http://fonts.googleapis.com/css?family=Quantico:400,700", :rel => "stylesheet", :type => "text/css"}
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

%body
  %h1#siteTitle EDUC 222 Grade Tracker
  %ul#myInfo
    - if current_user
      %li= link_to "My Account", edit_profile_users_path
      %li= link_to "Logout", :logout
    - else
      %div#loginGroup
        %table#login
          = form_tag user_sessions_path, :method => :post do
            %tr
              %td
                = label_tag :username
              %td
                = label_tag :password
              %td
            %tr
              %td
                = text_field_tag :username
              %td
                = password_field_tag :password
              %td.actions
                %span.submitBtn.small= submit_tag "Login"
            %tr
              %td
                = check_box_tag :remember_me, 1, params[:remember_me]
                = label_tag :remember_me
              %td
                %span#forgotPass= link_to "Forgot your password?", login_path
              %td
    
  - if current_user  
    #nav
      #navGroup
        %span.navTitle My Info
        %ul
          - if current_user
            %li#navDashboard= link_to "Dashboard", dashboard_path, class: cp(dashboard_path)
            - if current_user.is_staff?
              %li#navUsers= link_to "Users", users_path, class: cp(users_path)
            - else
              // Show student only links here
            %li#navAssignments= link_to "Assignments", assignments_path, class: cp(assignments_path)
            %li#navBadges= link_to "Badges", badges_path, class: cp(badges_path)
      #teamNav
        %span.navTitle Team Info
        %ul
          %li#navRankings= link_to "Rankings", teams_path, class: cp(teams_path)
          %li#navChallenges= link_to "Challenges", challenges_path, class: cp(challenges_path)
      #psaBox
        %p Do you consider video games to be a form of art?<br/><br/> <a href="http://americanart.si.edu/exhibitions/archive/2012/games/">The Smithsonian does</a>!
        %p Psst! Want to know the <a href="http://arstechnica.com/gaming/news/2011/04/the-secret-history-of-super-mario-bros-2.ars">secret history of Mario Bros. 2</a>?
        %p Ever wonder why Angry Birds is so successful? Here's an <a href="http://www.mauronewmedia.com/blog/2011/02/why-angry-birds-is-so-successful-a-cognitive-teardown-of-the-user-experience/">analysis of the user interface</a>.
        %p Mario Kart is...romantic? <a href="http://youtu.be/VDBpQVhCMb8">http://youtu.be/VDBpQVhCMb8</a>
        %p Video Games Live is a concert tour featuring music from popular video games <a href="http://www.videogameslive.com/index.php?s=home">http://www.videogameslive.com/</a>
        %p The Great Gatsby: The Video Game <a href="http://greatgatsbygame.com/">http://greatgatsbygame.com/</a>


    %div#content
      %h2= title
      = yield
  - else
    %div#content
      %p#notice= notice
      %p#alert= alert
      %h2= title
      = yield
    
  #footer
    .copyright< Copyright 2012 Barry Fishman | <a href="/info/index">Site Credits</a>


= debug(params) if Rails.env.development?